:host {
  padding: 1em 1em 0.8em 1em;
  background-color: var(--darkShade);
}

h3 {
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
