<bo-page-header backUrl="/" title="Přehled akcí" [actions]="actions"></bo-page-header>

<bo-page-content>
  <form [formGroup]="filterForm">
    <ion-toolbar>
      <ion-searchbar
        formControlName="search"
        placeholder="Hledat"
        (ionChange)="onFilterChange()"
        [debounce]="500"
      ></ion-searchbar>

      <bo-filter (submit)="onFilterChange()" (cancel)="resetFilter()" slot="end">
        <ion-item>
          <ion-label position="stacked">Rok</ion-label>
          <ion-select formControlName="year" placeholder="Vyber rok">
            <ion-select-option [value]="null">všechny</ion-select-option>
            <ion-select-option *ngFor="let year of years" [value]="year">{{ year }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Stav</ion-label>
          <ion-select formControlName="status" placeholder="Vyber stav">
            <ion-select-option [value]="null">všechny</ion-select-option>
            <ion-select-option *ngFor="let status of statuses | keyvalue" [value]="status.key">
              {{ status.value.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </bo-filter>
    </ion-toolbar>
  </form>

  <ion-list>
    <ng-container *ngIf="events === undefined">
      <ion-item><ion-skeleton-text animated></ion-skeleton-text></ion-item>
      <ion-item><ion-skeleton-text animated></ion-skeleton-text></ion-item>
      <ion-item><ion-skeleton-text animated></ion-skeleton-text></ion-item>
      <ion-item><ion-skeleton-text animated></ion-skeleton-text></ion-item>
      <ion-item><ion-skeleton-text animated></ion-skeleton-text></ion-item>
    </ng-container>

    <ion-item *ngFor="let event of events" [routerLink]="'' + event.id">
      <ion-avatar aria-hidden="true" slot="start" [style.background-color]="(event | event: 'color') || '#000'">
        @if (event | event: "image") {
          <img class="img-fluid" [src]="event | event: 'image'" />
        }
      </ion-avatar>
      <ion-label>
        <h3>{{ event.name }}</h3>
        <p>
          {{ event.dateFrom | date: "EEEEEE d. M." }} - {{ event.dateTill | date: "EEEEEE d. M. y" }}
          <br />
          <ng-container *ngFor="let leader of event.leaders; let isFirst = first">
            <ng-container *ngIf="!isFirst">, </ng-container>
            <span [style.color]="leader.groupId | group: 'color'">{{ leader | member: "nickname" }}</span>
          </ng-container>
          <strong *ngIf="!event.leaders?.length" class="text-danger">Pan NIKDO</strong>
        </p>
      </ion-label>

      <bo-event-status-badge [event]="event"></bo-event-status-badge>
    </ion-item>

    <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($any($event))">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

  <!-- <td>
          
        </td>
        <td>
          
        </td>
      </tr> -->
</bo-page-content>
