<bo-modal-layout>
	<h4 slot="title">Upravit místo</h4>

	<form [formGroup]="form">
		<div class="location-container">
			<ion-item>
				<ion-input
					label="Místo"
					labelPlacement="stacked"
					type="text"
					formControlName="place"
					placeholder="Zadejte název místa"
					(ionBlur)="searchLocation()"
				></ion-input>
				<ion-button slot="end" (click)="searchLocation()" fill="clear">
					<ion-icon name="search"></ion-icon>
				</ion-button>
			</ion-item>
			<div id="location-map" class="map"></div>
			<p class="map-hint">Kliknutím na mapu vyberte místo</p>
		</div>
	</form>

	<ion-buttons slot="buttons">
		<ion-button (click)="close.emit()" color="secondary">Zrušit</ion-button>
		<ion-button (click)="saveLocation()" color="primary">Uložit</ion-button>
	</ion-buttons>
</bo-modal-layout>
