<ion-header>
	<ion-toolbar>
		@if (!showSearch()) {
			<a routerLink="/" slot="start"><img src="assets/img/logo.svg" alt="Logo" height="56" /></a>
			<h1 slot="start">Bošán</h1>
		}
		<div class="search">
			@if (isLg() || showSearch()) {
				<ion-searchbar
					placeholder="Hledej&hellip;"
					(ionClear)="showSearch.set(false)"
					(ionBlur)="showSearch.set(false)"
					showClearButton="focus"
					[showCancelButton]="!isLg() ? 'always' : 'never'"
				/>
			}
		</div>

		<ion-buttons slot="end">
			@if (!isLg() && !showSearch()) {
				<ion-button fill="clear" size="large" (click)="showSearch.set(true)">
					<ion-icon name="search-sharp"></ion-icon>
				</ion-button>
			}

			@if (user | async; as user) {
				<bo-avatar
					[initials]="user.member! | member: 'initials'"
					[color]="user.member?.groupId | group: 'color'"
					(click)="openAccountMenu($event)"
				/>
			}
		</ion-buttons>
	</ion-toolbar>
</ion-header>
