<bo-modal-layout>
	<h4 slot="title">Vytvořit uživatelský účet</h4>
	<form [formGroup]="form" #userForm [class.was-validated]="showValidationErrors">
		<ion-list>
			<ion-item>
				<ion-input
					label="Login"
					labelPlacement="stacked"
					type="text"
					formControlName="login"
					placeholder="bilbo"
					required
				></ion-input>
			</ion-item>

			<ion-item>
				<ion-input
					label="Bošánovský e-mail"
					labelPlacement="stacked"
					type="email"
					formControlName="email"
					placeholder="bilbo@bosan.cz"
				></ion-input>
			</ion-item>
		</ion-list>
	</form>
	<ion-buttons slot="buttons">
		<ion-button (click)="close.emit()" color="secondary">Zrušit</ion-button>
		<ion-button (click)="createUser()" color="primary">Vytvořit</ion-button>
	</ion-buttons>
</bo-modal-layout>
