<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button [defaultHref]="'/uzivatele/' + user()?.id"></ion-back-button>
		</ion-buttons>
		<ion-title pageTitle>
			@if (user() && user()!.login) {
				Upravit uživatele
				{{ user()!.login }}
				@if (user()!.member) {
					&nbsp;({{ user()!.member!.nickname }}, {{ user()!.member!.groupId | group: "name" }})
				}
				@if (!user()!.member && user()!.email) {
					&nbsp;({{ user()!.email }})
				}
			}
			@if (user() && !user()!.login && user()!.email) {
				{{ user()!.email }}
			}
			@if (user() && !user()!.login && !user()!.email) {
				{{ user()!.id }}
			}
		</ion-title>
		<ion-buttons slot="end">
			<bo-action-buttons [actions]="actions()" header="Členská databáze"></bo-action-buttons>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form #editUserForm="ngForm">
		<ion-item>
			<ion-label position="stacked">ID</ion-label>
			<ion-input type="text" [ngModel]="user()?.id" [ngModelOptions]="{ standalone: true }" readonly></ion-input>
		</ion-item>

		<ion-item>
			<ion-label position="stacked">Login</ion-label>
			<ion-input type="text" name="login" [ngModel]="user()?.login" placeholder="bilbo"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label position="stacked">Bošánovský mail</ion-label>
			<ion-input type="email" name="email" [ngModel]="user()?.email" placeholder="bilbo@bosan.cz"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label position="stacked">Člen</ion-label>
			<ion-select name="member" [ngModel]="user()?.member?.id" placeholder="žádný">
				<ion-select-option [value]="null">
					<em>--žádný--</em>
				</ion-select-option>
				@for (member of members(); track member.id) {
					<ion-select-option [value]="member.id">
						{{ member.nickname || member.firstName }}
						({{ member.groupId | group: "name" }}, {{ member.firstName }} {{ member.firstName }})
					</ion-select-option>
				}
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label position="stacked">Role</ion-label>
			<ion-select multiple name="roles" [ngModel]="user()?.roles" placeholder="žádné">
				@for (role of roles | keyvalue; track role.key) {
					<ion-select-option [value]="role.key">{{
						role.value.title
					}}</ion-select-option>
				}
			</ion-select>
		</ion-item>
	</form>
</ion-content>
