<h2>Kontakty</h2>
<!-- <table class="table table-sm table-borderless">
  <tbody>
    <tr *ngFor="let contact of member?.contacts">
      <th>Mobil:</th>
      <td>{{ member?.contacts?.mobile || "-" }}</td>
    </tr>
    <tr>
      <th>E-mail:</th>
      <td>{{ member?.contacts?.email || "-" }}</td>
    </tr>
    <tr>
      <th>Matka:</th>
      <td>{{ member?.contacts?.mother || "-" }}</td>
    </tr>
    <tr>
      <th>Otec:</th>
      <td>{{ member?.contacts?.father || "-" }}</td>
    </tr>
  </tbody>
</table> -->
