@if (view() === 'list') {
	<ion-reorder-group (ionItemReorder)="onReorder($any($event))" [disabled]="!sortable()">
		@if (photos() !== undefined) {
			@for (photo of photos(); track photo.id) {
				<ion-item
					[button]="true"
					[detail]="false"
					(click)="onPhotoClick(photo, $event)"
					(pointerdown)="onPointerDown(photo, $event)"
					(pointermove)="onPointerMove($event)"
					(pointerup)="cancelLongPress()"
					(pointercancel)="cancelLongPress()"
					(pointerleave)="cancelLongPress()"
				>
					@if (selectable()) {
						<ion-checkbox slot="start" [ngModel]="isPhotoChecked(photo)"> </ion-checkbox>
					}
					<ion-avatar slot="start">
						<img [src]="photo | photoImageUrl: 'small'" [style.background-color]="photo.bg" loading="lazy" />
					</ion-avatar>

					<ion-label>
						<h2 [class.nocaption]="!photo.caption">
							@if (photo.titlePhotoOrder != null) {
								<ion-icon name="star" color="warning" title="Titulní fotka"></ion-icon>
							}
							{{ photo.caption || "Bez popisku" }}
						</h2>
						<p class="row no-gutters info">
							<span class="col-12 col-lg-4 col-xl-3">Datum: {{ photo.timestamp | date: "d. M. y H:mm:ss" }}</span>
							@if (photo.width && photo.height) {
								<span class="col-12 col-lg-4 col-xl-3 d-none d-lg-block">
									Velikost: {{ photo.width }}×{{ photo.height }} ({{ getMpix(photo.width, photo.height) }}
									MP)
								</span>
							}
							<span class="col-12 col-lg" [boTooltip]="photo.name">Název: {{ photo.name }}</span>
							@if (photo.uploadedBy) {
								<span class="col-12 col-lg">
									Nahrál/a: {{ photo.uploadedBy!.member!.nickname || photo.uploadedBy!.login }}
								</span>
							}
						</p>
						@if (photo.tags?.length) {
							<div class="tags">
								@for (tag of photo.tags; track tag) {
									<ion-chip class="tag" color="warning">#{{ tag }}</ion-chip>
								}
							</div>
						}
					</ion-label>

					<ion-reorder slot="end"></ion-reorder>
				</ion-item>
			}
		} @else {
			@for (item of loadingPhotos(); track $index) {
				<ion-item>
					<ion-avatar slot="start">
						<ion-skeleton-text></ion-skeleton-text>
					</ion-avatar>

					<ion-label>
						<h2><ion-skeleton-text></ion-skeleton-text></h2>
						<p class="row no-gutters info"><ion-skeleton-text></ion-skeleton-text></p>
					</ion-label>
				</ion-item>
			}
		}
	</ion-reorder-group>
}

@if (view() === 'grid') {
	<div class="grid" [class.selectable]="selectable()">
		@if (photos()) {
			@for (photo of photos()!; track photo.id) {
				<div class="square" [class.checked]="isPhotoChecked(photo)">
					<div class="photo ion-activatable ripple-parent" (click)="onPhotoClick(photo, $event)">
						<img [src]="photo | photoImageUrl: 'small'" [style.background-color]="photo.bg" loading="lazy" />
						@if (photo.titlePhotoOrder != null) {
							<ion-icon class="title-badge" name="star" color="warning" title="Titulní fotka"></ion-icon>
						}
						<ion-ripple-effect></ion-ripple-effect>
					</div>
					<ion-checkbox [ngModel]="isPhotoChecked(photo)" (ngModelChange)="onPhotoCheck(photo, $event)"></ion-checkbox>
				</div>
			}
		}
	</div>
}
