<div class="row">
	<div class="col-12 mb-4">
		<div class="chart-wrap">
			<canvas baseChart type="doughnut" [data]="chartData()" [options]="chartOptions"></canvas>
		</div>
	</div>
	<div class="col-12">
		<div class="stats">
			<div>
				<span>Celkem: </span><span>{{ total() | number: "1.2-2" : "cs" }}&nbsp;Kč</span>
			</div>
			<div>
				<span>Osoba/den: </span>
				<span>
					@if (perPersonDay() !== undefined) {
						{{ perPersonDay() | number: "1.2-2" : "cs" }}&nbsp;Kč
					} @else {
						–
					}
				</span>
			</div>
		</div>
	</div>
</div>
