<div class="buttons">
	@if (event()?._links?.saveEventRegistration?.applicable) {
		<ion-button
			[disabled]="!event()?._links?.saveEventRegistration?.allowed || uploadingRegistration"
			fill="clear"
			(click)="registrationInput.click()"
			>Nahrát</ion-button
		>
	}
	@if (event()?._links?.getEventRegistration?.applicable) {
		<ion-button
			[disabled]="!event()?._links?.getEventRegistration?.allowed || uploadingRegistration"
			fill="clear"
			(click)="getRegistration()"
			>Zobrazit</ion-button
		>
	}
	@if (event()?._links?.deleteEventRegistration?.applicable) {
		<ion-button
			[disabled]="!event()?._links?.deleteEventRegistration?.allowed || uploadingRegistration"
			fill="clear"
			color="danger"
			(click)="deleteRegistration()"
			>Smazat</ion-button
		>
	}
</div>

@if (uploadingRegistration) {
	<p>Nahrávám&hellip;</p>
}
<input
	class="d-none"
	type="file"
	accept="application/pdf"
	#registrationInput
	ngModel
	(ngModelChange)="uploadRegistration(registrationInput)"
	required
/>
