<div class="buttons">
	@if (event()?._links?.saveEventRegistration?.applicable) {
		<ion-button
			[disabled]="!event()?._links?.saveEventRegistration?.allowed || busy()"
			fill="clear"
			(click)="registrationInput.click()"
		>
			<ion-icon class="ion-hide-md-up" name="cloud-upload-outline"></ion-icon>
			<span class="ion-hide-md-down">Nahrát</span>
		</ion-button>
	}
	@if (event()?._links?.generateEventRegistration?.applicable) {
		<ion-button
			[disabled]="!event()?._links?.generateEventRegistration?.allowed || busy()"
			boTooltip="Generovat"
			fill="clear"
			(click)="generateRegistration()"
		>
			<ion-icon class="ion-hide-md-up" name="color-wand-outline"></ion-icon>
			<span class="ion-hide-md-down">Generovat</span>
		</ion-button>
	}
	@if (event()?._links?.getEventRegistration?.applicable) {
		<ion-button
			[disabled]="!event()?._links?.getEventRegistration?.allowed || busy()"
			boTooltip="Zobrazit"
			fill="clear"
			(click)="getRegistration()"
		>
			<ion-icon class="ion-hide-md-up" name="eye-outline"></ion-icon>
			<span class="ion-hide-md-down">Zobrazit</span>
		</ion-button>
	}
	@if (event()?._links?.deleteEventRegistration?.applicable) {
		<ion-button
			[disabled]="!event()?._links?.deleteEventRegistration?.allowed || busy()"
			boTooltip="Smazat"
			fill="clear"
			color="danger"
			(click)="deleteRegistration()"
		>
			<ion-icon class="ion-hide-md-up" name="trash-outline"></ion-icon>
			<span class="ion-hide-md-down">Smazat</span>
		</ion-button>
	}
</div>

@if (generatingRegistration()) {
	<p>Generuji přihlášku&hellip;</p>
} @else if (uploadingRegistration()) {
	<p>Nahrávám&hellip;</p>
}
<input
	class="d-none"
	type="file"
	accept="application/pdf"
	#registrationInput
	ngModel
	(ngModelChange)="uploadRegistration(registrationInput)"
	required
/>
