:host {
	display: block;
}

canvas {
	width: 100%;
	height: 25vh;
	max-height: 300px;
	margin: 0 auto;
}

.stats {
	font-size: 1.5em;
	display: flex;
	align-items: center;
}

@media (max-width: 1200px) {
	.stats {
		flex-direction: row;
		justify-content: space-evenly;
	}
	div {
		text-align: center;
	}
}

@media (min-width: 1200px) {
	.stats {
		height: 100%;
		flex-direction: column;
		justify-content: space-evenly;
		span {
			display: block;
			text-align: center;
		}
	}
}
