:host {
	line-height: 0;
	display: inline-block;
}

ion-badge {
	border-radius: var(--bo-radius-pill);
	font-weight: 800;
	font-size: 0.75rem;
	min-width: 1.6em;
	padding: 0.3em 0.45em;
	text-align: center;
}
