:host {
	color: var(--card-color, var(--bo-heading));
	padding: 0.6em 0.6em 0.4em 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.title {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

::ng-deep .title > * {
	flex-grow: 1;
}
