:host {
	color: var(--card-color);
	padding: 0.4em;
	padding-left: 1em;
	// border-bottom: 2px solid var(--lightGrey);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
