.photoInput {
	display: none;
}
.upload {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	box-sizing: border-box;
}

.dropzone {
	flex: 1;
	min-height: 200px;
	background-color: var(--ion-color-light);
	border: 2px dashed var(--ion-color-medium);
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	p {
		color: var(--ion-color-medium);
		text-align: center;
		margin: 0;
	}
}
.dropzone:hover {
	background-color: var(--ion-color-light-shade);
}
