bo-login {
	height: 100%;
}

.layout {
	display: flex;
	flex-direction: column;
	height: 100dvh;
}

.page {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	background-color: var(--bo-paper);
}

.sidebar {
	width: 230px;
}

main {
	flex-grow: 1;
	position: relative;
	background-color: var(--bo-paper);
}
