<bo-page-header [title]="title()" backUrl="/admin/uzivatele" [actions]="actions()" />

@if (user()) {
	<bo-page-content [padding]="true">
		<div class="row">
			<div class="col-lg-4 mb-3">
				<bo-card>
					<bo-card-header>
						<bo-card-title> Uživatelský účet </bo-card-title>
					</bo-card-header>
					<bo-card-content>
						<bo-user-info
							[user]="user()"
							(update)="updateUser($event)"
							(setPassword)="setPassword($event)"
						/>
					</bo-card-content>
				</bo-card>
			</div>
			<div class="col-lg-4 mb-3">
				<bo-card>
					<bo-card-header>
						<bo-card-title> Propojený člen </bo-card-title>
						<ion-buttons slot="buttons">
							<bo-edit-button
								[disabled]="!user()!._links.updateUser.allowed"
								(click)="changeMember()"
							></bo-edit-button>
							@if (user()!.member) {
								<ion-button
									color="danger"
									[disabled]="!user()!._links.updateUser.allowed"
									(click)="unlinkMember()"
								>
									<ion-icon name="close-outline"></ion-icon>
								</ion-button>
								<ion-button color="primary" [routerLink]="['/databaze/clenove', user()!.member!.id]">
									<ion-icon name="arrow-forward"></ion-icon>
								</ion-button>
							}
						</ion-buttons>
					</bo-card-header>
					<bo-card-content>
						@if (user()!.member) {
							<table class="table">
								<tr>
									<th>Přezdívka</th>
									<td>{{ user()!.member!.nickname }}</td>
								</tr>
								<tr>
									<th>Jméno</th>
									<td>{{ user()!.member!.firstName }} {{ user()!.member!.lastName }}</td>
								</tr>
								<tr>
									<th>Datum narození</th>
									<td>{{ user()!.member!.birthday | date }}</td>
								</tr>
							</table>
						} @else {
							<p><i>Žádný propojený člen</i></p>
						}
					</bo-card-content>
				</bo-card>
			</div>
		</div>
	</bo-page-content>
}
