<div class="row">
	<div class="order-2 order-lg-1 col-12 col-xl-8">
		<p>[[TODO: sloučit do jedný tabulky s dropdownem jestli je účastník/vedoucí]]</p>
		<h3>Vedoucí</h3>

		@if (leaders() && leaders()?.length === 0) {
			<p><em>Žádní účastníci</em></p>
		}
		
		<bo-event-attendees-list
			[event]="event()"
			[attendees]="leaders()"
			(remove)="removeAttendee($event)"
		></bo-event-attendees-list>

		<div class="text-center">
			<bo-add-button (click)="addAttendee('leader')">Přidat vedoucí</bo-add-button>
		</div>

		<h3>Účastníci</h3>

		@if (attendees() && attendees()!.length === 0) {
			<p><em>Žádní účastníci</em></p>
		}

		<bo-event-attendees-list
			[event]="event()"
			[attendees]="attendees()"
			(remove)="removeAttendee($event)"
		></bo-event-attendees-list>

		@if (event()?._links?.addEventAttendee?.allowed) {
			<div class="text-center">
				<bo-add-button (click)="addAttendee('attendee')">Přidat účastníka</bo-add-button>
			</div>
		}
	</div>
	<div class="order-1 order-lg-2 col-12 col-xl-4">
		@if (event()) {
			<bo-card class="mb-3">
				<bo-card-header>
					<bo-card-title>Narozeniny během akce</bo-card-title>
				</bo-card-header>
				<bo-card-content>
					<event-birthday-list [event]="event()!" [members]="allMembers()"></event-birthday-list>
				</bo-card-content>
			</bo-card>

			<div class="d-none d-lg-block">
				<bo-card class="mb-3">
					<bo-card-header>
						<bo-card-title>Věk účastníků</bo-card-title>
					</bo-card-header>
					<bo-card-content>
						<event-age-histogram [event]="event()!" [members]="allMembers()"></event-age-histogram>
					</bo-card-content>
				</bo-card>
			</div>
		}

		@if (event() && event()!._links.getEventAnnouncement.allowed) {
			@if ((attendees()!.length + leaders()!.length) !=0){
				<div class="text-center">
					<ion-button (click)="getAnnouncement(event()!)" expand="block" fill="outline">
						Stáhnout ohlášku
					</ion-button>
				</div>
			}
		}
	</div>
</div>
