@use "src/styles/variables" as *;

.attendees-note {
	margin-top: 1rem;
	font-size: $font-small;
	font-style: italic;
}

.list-header {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	margin-bottom: 0.5rem;

	h3 {
		margin-bottom: 0;
	}
}
