<bo-page-header [title]="group()?.name" backUrl="/databaze" [actions]="actions" actionsHeader="" />

<bo-page-content [padding]="true">
	<div class="d-lg-flex gap-4">
		<!-- Vertical menu for desktop -->
		<div class="d-none d-lg-block" style="min-width: 200px">
			<bo-vertical-menu defaultTab="clenove" (change)="view.set($any($event))">
				<bo-vertical-menu-item name="clenove" label="Členové" icon="people-outline"></bo-vertical-menu-item>
				<bo-vertical-menu-item name="info" label="Info" icon="information-circle-outline"></bo-vertical-menu-item>
			</bo-vertical-menu>
		</div>

		<!-- Content area -->
		<div class="flex-grow-1">
			<bo-group-members class="mb-5" [class.d-none]="view() !== 'clenove'"></bo-group-members>

			<bo-group-info class="mb-5" [class.d-none]="view() !== 'info'"></bo-group-info>
		</div>
	</div>
</bo-page-content>

<bo-page-footer class="d-lg-none">
	<bo-tabs defaultTab="clenove" (change)="view.set($any($event))">
		<bo-tab name="clenove" label="Členové" icon="people-outline"></bo-tab>
		<bo-tab name="info" label="Info" icon="information-circle-outline"></bo-tab>
	</bo-tabs>
</bo-page-footer>
