<div class="row">
	<div class="col-12">
		<bo-statistics-card-summary [(year)]="year" class="mb-3"></bo-statistics-card-summary>
	</div>
	<div class="col-12 col-xl-4">
		<bo-statistics-card-top-leaders [year]="year()" class="mb-3"></bo-statistics-card-top-leaders>
	</div>
	<div class="col-12 col-xl-4">
		<bo-statistics-card-top-events [year]="year()" class="mb-3"></bo-statistics-card-top-events>
	</div>
	<div class="col-12 col-xl-4">
		<bo-statistics-card-top-children [year]="year()" class="mb-3"></bo-statistics-card-top-children>
	</div>
</div>
