<h4>Základní informace</h4>
<ion-list *ngIf="member" class="selectable">
  <ion-item [button]="true" [detail]="false">
    <ion-label>Jméno:</ion-label>
    <ion-label>{{ member.firstName || "-" }} {{ member.lastName || "-" }}</ion-label>
    <bo-edit-button slot="end"></bo-edit-button>
  </ion-item>

  <ion-item [button]="true" [detail]="false">
    <ion-label>Přezdívka:</ion-label>
    <ion-label>{{ member.nickname || "-" }}</ion-label>
    <bo-edit-button slot="end"></bo-edit-button>
  </ion-item>

  <ion-item [button]="true" [detail]="false">
    <ion-label>Datum narození:</ion-label>
    <ion-label>{{ member.birthday ? (member.birthday | date: "d. M. y") : "-" }}</ion-label>
    <bo-edit-button slot="end"></bo-edit-button>
  </ion-item>
</ion-list>

<h4 class="mt-4">Členství ve skupině</h4>
<ion-list *ngIf="member" class="selectable">
  <ion-item [button]="true" [detail]="false">
    <ion-label>Aktivní člen:</ion-label>
    <ion-label>{{ member.active === undefined ? "-" : member.active ? "Ano" : "Ne" }}</ion-label>
  </ion-item>

  <ion-item [button]="true" [detail]="false">
    <ion-label>Oddíl</ion-label>
    <ion-label
      ><span [style.color]="member.groupId | group: 'color'">{{ member.groupId | group: "name" }}</span></ion-label
    >
  </ion-item>

  <!-- <ion-item [button]="true" [detail]="false">
    <ion-label>Zaplacené příspěvky:</ion-label>
    <ion-label>
      TODO:
      <ng-container *ngIf="membershipTypes[member.membership]">{{
          membershipTypes[member.membership].title
        }}</ng-container>
    </ion-label>
  </ion-item> -->
</ion-list>
