@use "./variables" as *;

body {
	margin: 0;
	font-family: $font-regular;
	color: var(--black);
	background-color: var(--white);
	font-size: $font-basic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}
h1,
h2,
h3 {
	font-family: $font-san;
}

a[href] {
	color: $blue;
}

.clickable {
	cursor: pointer;
}

.selectable {
	user-select: text !important;
}
