$colorPrimary: #3880ff;
$colorSecondary: #3dc2ff;
$colorTertiary: #5260ff;
$colorSuccess: #2dd36f;
$colorWarning: #ffc409;
$colorDanger: #eb445a;
$colorMedium: #92949c;

$colorDark: #222;
$colorLight: #f4f5f8;

$black: #000;
$black70: #3e3e3e;
$darkGrey: $colorDark;
$grey: #eee;
$lightGrey: #f2f2f2;
$white: #fff;

$blue: #006fff;
$lightBlue: rgba(0, 111, 255, 0.05);
$linkBlue: #00bfff;

$sanblue: hsl(232, 48%, 32%);
$sangreen: hsl(83, 45%, 43%);
$sanyellow: hsl(34, 76%, 52%);
$sanred: hsl(358, 65%, 45%);

$font-small: 0.8rem;
$font-basic: 1rem;
$font-medium: 1.5rem;
$font-large: 2rem;
$font-super-large: 3.5rem;

$lightShade: rgba(255, 255, 255, 0.2);
$darkShade: rgba(0, 0, 0, 0.05);

$shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
$photo-height: 30vh;
$photo-max-height: 200px;

$font-regular: "Roboto Condensed", Helvetica, Verdana, sans-serif;
$font-san: SanGrotesk, "Roboto Condensed", Helvetica, Verdana, sans-serif;

$circle-size: 2rem;

// css variables
:root {
	--san-blue: hsl(232, 48%, 32%);
	--san-blue-rgb: 54, 81, 145;

	--san-green: hsl(83, 45%, 43%);
	--san-green-rgb: 101, 145, 63;

	--san-yellow: hsl(34, 76%, 52%);
	--san-yellow-rgb: 255, 179, 64;

	--san-red: hsl(358, 65%, 45%);
	--san-red-rgb: 231, 76, 60;

	--bo-shadow: rgba(0, 0, 0, 0.35) 0px 0 12px;
	--bo-shadow-small: rgba(0, 0, 0, 0.35) 0px 0 5px;
}
