<bo-page-header title="Galerie" backUrl="/" [actions]="actions()" />

<bo-page-content>
	<bo-filter [search]="true" [showButtonMobileOnly]="true" (change)="onFilterChange($event)">
		<ion-item>
			<ion-select name="year" ngModel label="Rok">
				<ion-select-option [value]="null">všechny</ion-select-option>
				@for (year of years(); track year) {
					<ion-select-option [value]="year">{{ year }}</ion-select-option>
				}
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-select name="status" ngModel label="Stav zveřejnění">
				<ion-select-option [value]="null">všechny</ion-select-option>
				@for (status of statuses | keyvalue; track status.key) {
					<ion-select-option [value]="status.key">
						{{ status.value.name }}
					</ion-select-option>
				}
			</ion-select>
		</ion-item>
	</bo-filter>

	@if (view() === 'table') {
		<admin-table [class]="'albums-table'">
			<thead>
				<tr>
					<th class="align-middle albums-name-column">Název alba</th>
					<th class="albums-date-column">
						<div class="column-filter">
							<ion-select
								label="Datum"
								interface="popover"
								justify="start"
								[ngModel]="selectedYear()"
								(ngModelChange)="setFilterParam('year', $event)"
							>
								<ion-select-option [value]="null">všechny</ion-select-option>
								@for (year of years(); track year) {
									<ion-select-option [value]="year">{{ year }}</ion-select-option>
								}
							</ion-select>
						</div>
					</th>
					<th class="albums-status-column">
						<div class="column-filter">
							<ion-select
								label="Stav"
								interface="popover"
								justify="start"
								[ngModel]="selectedStatus()"
								(ngModelChange)="setFilterParam('status', $event)"
							>
								<ion-select-option [value]="null">všechny</ion-select-option>
								@for (status of statuses | keyvalue; track status.key) {
									<ion-select-option [value]="status.key">
										{{ status.value.name }}
									</ion-select-option>
								}
							</ion-select>
						</div>
					</th>
					<th class="align-middle albums-published-column">Publikováno</th>
				</tr>
			</thead>
			<tbody>
				@if (albums() !== undefined) {
					@for (album of albums()!; track album.id) {
						<tr [routerLink]="'' + album.id">
							<td class="albums-name-column">{{ album.name }}</td>
							<td class="date albums-date-column">{{ album.dateFrom | date: "d. M. y" }} - {{ album.dateTill | date: "d. M. y" }}</td>
							<td class="albums-status-column">
								<span class="bo-pill" [class.bo-pill-green]="album.status === 'public'">
									{{ album | album: "status" }}
								</span>
							</td>
							<td class="albums-published-column">{{ album.datePublished | date: "d. M. y" }}</td>
						</tr>
					}
				} @else {
					@for (item of loadingArray; track $index) {
						<tr>
							<td><ion-skeleton-text animated></ion-skeleton-text></td>
							<td><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></td>
							<td><ion-skeleton-text animated></ion-skeleton-text></td>
							<td><ion-skeleton-text animated></ion-skeleton-text></td>
						</tr>
					}
				}
			</tbody>
		</admin-table>
	}

	@if (view() === 'grid') {
		<ion-list>
			@if (albums() === undefined) {
				@for (item of loadingArray; track $index) {
					<ion-item>
						<ion-label><ion-skeleton-text animated></ion-skeleton-text></ion-label>
					</ion-item>
				}
			}

			@for (album of albums(); track album.id) {
				<ion-item class="clickable" [routerLink]="'' + album.id">
					<ion-label>
						<h2>{{ album.name }}</h2>
						<p>
							{{ album.dateFrom | date: "d. M. y" }} - {{ album.dateTill | date: "d. M. y" }},
							{{ album | album: "status" }}
						</p>
					</ion-label>
				</ion-item>
			}
		</ion-list>
	}

	<ion-infinite-scroll (ionInfinite)="onInfiniteScroll($any($event))">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</bo-page-content>
