.table .filter {
	cursor: pointer;
}

.filter button {
	width: 100%;
}

.date,
.actions {
	white-space: nowrap;
}

.column-filter {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.column-filter ion-select {
	min-width: 7rem;
}

ion-select::part(text) {
	font-weight: normal;
}
