<bo-filter [search]="true" [showButtonMobileOnly]="true" [immediateFilter]="true" (change)="onFilterChange($event)">
	@if (isDesktop()) {
		<div toolbar-actions slot="end" class="members-filter-actions">
			<ng-container [ngTemplateOutlet]="filterPills"></ng-container>

			<ion-button fill="clear" size="small" id="group-columns-popover-trigger" boTooltip="Sloupce">
				<ion-icon slot="icon-only" name="columns"></ion-icon>
			</ion-button>

			<ion-button fill="clear" size="small" id="group-inactive-popover-trigger" boTooltip="Zobrazení">
				<ion-icon slot="icon-only" name="eye-outline"></ion-icon>
			</ion-button>
		</div>
	} @else {
		<div class="members-filter-modal">
			<ion-list lines="full">
				<ion-item-divider>Filtry</ion-item-divider>
				<div class="members-filter-modal-pills">
					<ng-container [ngTemplateOutlet]="filterPills"></ng-container>
				</div>
			</ion-list>

			<bo-sort-select
				[options]="sortOptions"
				[sort]="sortColumn()"
				[order]="sortOrder()"
				(sortChange)="onSortChange($event)"
			/>

			<ion-list lines="full">
				<ng-container [ngTemplateOutlet]="columnsList"></ng-container>
			</ion-list>

			<ion-list lines="full">
				<ng-container [ngTemplateOutlet]="viewOptionsList"></ng-container>
			</ion-list>
		</div>
	}
</bo-filter>

<ng-template #filterPills>
	<bo-filter-pill
		label="Role"
		[options]="roleOptions"
		[selected]="selectedRoles()"
		(selectedChange)="setRolesFilter($event)"
	/>
	<bo-filter-pill
		label="Členství"
		[options]="membershipOptions"
		[selected]="selectedMembership()"
		(selectedChange)="setMembershipFilter($event)"
	/>
</ng-template>

<ng-template #columnsList>
	<ion-item-divider>Sloupce</ion-item-divider>
	@for (selection of viewSelections() | keyvalue: originalViewOrder; track selection.key) {
		<ion-item>
			<ion-checkbox
				[checked]="viewSelections()[selection.key]"
				(ionChange)="setViewSelection(selection.key, $event.detail.checked)"
				justify="space-between"
			>
				{{ getViewSelectionLabel(selection.key) }}
			</ion-checkbox>
		</ion-item>
	}
</ng-template>

<ng-template #viewOptionsList>
	<ion-item-divider>Zobrazení</ion-item-divider>
	<ion-item lines="none">
		<ion-toggle
			[checked]="showInactive()"
			(ionChange)="setShowInactive($event.detail.checked)"
			justify="space-between"
		>
			Zobrazit i neaktivní
		</ion-toggle>
	</ion-item>
</ng-template>

<ion-popover
	trigger="group-columns-popover-trigger"
	triggerAction="click"
	cssClass="view-options-popover"
	[dismissOnSelect]="false"
>
	<ng-template>
		<ion-content>
			<ion-list lines="full">
				<ng-container [ngTemplateOutlet]="columnsList"></ng-container>
			</ion-list>
		</ion-content>
	</ng-template>
</ion-popover>

<ion-popover
	trigger="group-inactive-popover-trigger"
	triggerAction="click"
	cssClass="view-options-popover"
	[dismissOnSelect]="false"
>
	<ng-template>
		<ion-content>
			<ion-list lines="full">
				<ng-container [ngTemplateOutlet]="viewOptionsList"></ng-container>
			</ion-list>
		</ion-content>
	</ng-template>
</ion-popover>

<admin-table
	[class]="'members-table'"
	[rows]="members()"
	[loading]="members() === undefined"
	[rowLink]="rowLink"
	[rowClass]="rowClass"
	[actions]="memberActions"
	[actionsHeader]="rowActionsHeader"
	[sort]="sortColumn()"
	[order]="sortOrder()"
	(sortChange)="onSortChange($event)"
>
	@if (viewSelections().nickname) {
		<admin-table-column
			header="Přezdívka"
			sort="nickname"
			[primary]="true"
			headerClass="align-middle members-nickname-column"
		>
			<ng-container *adminCell="let member">{{ member.nickname || member.firstName }}</ng-container>
		</admin-table-column>
	}

	@if (viewSelections().name) {
		<admin-table-column header="Jméno" sort="name" headerClass="align-middle members-name-column">
			<ng-container *adminCell="let member">{{ member.firstName }} {{ member.lastName }}</ng-container>
		</admin-table-column>
	}

	@if (viewSelections().role) {
		<admin-table-column header="Role" sort="role" headerClass="align-middle">
			<ng-container *adminCell="let member">{{ member | member: "role" }}</ng-container>
		</admin-table-column>
	}

	@if (viewSelections().age) {
		<admin-table-column header="Věk" sort="age" headerClass="align-middle">
			<ng-container *adminCell="let member">{{ member | member: "age" }}</ng-container>
		</admin-table-column>
	}

	@if (viewSelections().membership) {
		<admin-table-column header="Členství" sort="membership">
			<ng-container *adminCell="let member">{{ member | member: "membership" }}</ng-container>
		</admin-table-column>
	}

	@if (viewSelections().birthday) {
		<admin-table-column header="Datum narození" sort="birthday" headerClass="align-middle">
			<ng-container *adminCell="let member">{{
				member.birthday ? (member.birthday | date: "d. M. y") : ""
			}}</ng-container>
		</admin-table-column>
	}

	@if (viewSelections().addressCity) {
		<admin-table-column header="Město" sort="city" headerClass="align-middle">
			<ng-container *adminCell="let member">{{ member.addressCity }}</ng-container>
		</admin-table-column>
	}

	@if (viewSelections().addressStreet) {
		<admin-table-column header="Ulice" sort="street" headerClass="align-middle">
			<ng-container *adminCell="let member">{{ member.addressStreet }}</ng-container>
		</admin-table-column>
	}

	@if (viewSelections().firstTelephone) {
		<admin-table-column header="Telefon" headerClass="align-middle">
			<ng-container *adminCell="let member">
				@if (member.contacts | defaultContact; as contact) {
					@for (value of contact.mobile; track $index) {
						<div>
							@if ($first) {
								<strong>{{ contact.relationship }}</strong>
							}
							{{ value }}
						</div>
					}
				}
			</ng-container>
		</admin-table-column>
	}

	@if (viewSelections().firstEmail) {
		<admin-table-column header="E-mail" headerClass="align-middle">
			<ng-container *adminCell="let member">
				@if (member.contacts | defaultContact; as contact) {
					@for (value of contact.email; track $index) {
						<div>
							@if ($first) {
								<strong>{{ contact.relationship }}</strong>
							}
							{{ value }}
						</div>
					}
				}
			</ng-container>
		</admin-table-column>
	}

	@if (viewSelections().status) {
		<admin-table-column
			header="Stav"
			sort="status"
			[right]="true"
			cellClass="members-status-column"
			headerClass="align-middle members-status-column"
		>
			<ng-container *adminCell="let member">
				@if (member.active) {
					<span class="bo-pill bo-pill-green">AKTIVNÍ</span>
				} @else {
					<span class="bo-pill">NEAKTIVNÍ</span>
				}
			</ng-container>
		</admin-table-column>
	}
</admin-table>
