<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Členská databáze</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<bo-filter (change)="filterData($event)">
  <div class="row">
    <div class="col-12 col-md-4">
      <ion-item lines="none">
        <ion-label position="stacked">Oddíl</ion-label>
        <ion-select multiple name="groups" [ngModel]="filter.groups" placeholder="všechny">
          <ion-select-option *ngFor="let group of groups" [value]="group.id">
            {{ group.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="col-12 col-md-4">
      <ion-item lines="none">
        <ion-label position="stacked">Role</ion-label>
        <ion-select multiple name="roles" [ngModel]="filter.ranks" placeholder="všechny">
          <ion-select-option *ngFor="let rank of ranks | keyvalue" [value]="rank.key">
            {{ rank.value }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="col-12 col-md-4">
      <ion-item lines="none">
        <ion-label position="stacked">Aktivní člen</ion-label>
        <ion-select multiple name="status" [ngModel]="filter.status">
          <ion-select-option value="active">Aktivní</ion-select-option>
          <ion-select-option value="inactive">Neaktivní</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
</bo-filter>

<ion-content>
  <ion-list>
    <ng-container *ngIf="members === undefined">
      <ion-item *ngFor="let row of loadingRows">
        <ion-label><ion-skeleton-text></ion-skeleton-text></ion-label>
      </ion-item>
    </ng-container>

    <ion-item *ngFor="let member of filteredMembers" [routerLink]="'' + member.id" [detail]="true">
      <ion-label>
        <h2>{{ member.nickname || member.firstName || member.lastName }}</h2>
        <p>
          <span [style.color]="member.groupId | group : 'color'">{{ member.groupId | group : "name" }}</span
          >,
          <span>{{ member.birthday | age }}</span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
