@import "src/styles/variables.scss";

.member {
  cursor: pointer;
}

tr.mmber-inactive {
  text-decoration: line-through;
}
tr.mmber-paused {
  color: $grey;
}

td ion-badge {
  vertical-align: text-top;
}
