<bo-page-header [title]="event()?.name" backUrl="/akce" [actions]="actions">
	<div
		slot="start"
		class="icon"
		[style.background-color]="(event() | event: 'image') ? 'transparent' : (event() | event: 'color') || '#ccc'"
	>
		@if (event() | event: "image") {
			<img style="height: 2em" class="img-fluid" [src]="event() | event: 'image'" />
		}
	</div>
</bo-page-header>

<bo-page-content [padding]="true">
	<div class="d-lg-flex gap-4">
		<div class="d-none d-lg-block" style="min-width: 200px">
			<bo-vertical-menu defaultTab="info" (change)="view.set($any($event))">
				<bo-vertical-menu-item name="info" label="Info" icon="calendar"></bo-vertical-menu-item>
				<bo-vertical-menu-item
					name="attendees"
					label="Lidé"
					icon="people-outline"
					[badge]="attendeesBadge()"
				></bo-vertical-menu-item>
				<bo-vertical-menu-item
					name="problems"
					label="Potíže"
					icon="medkit-outline"
					[badge]="problemsBadge()"
					badgeVariant="attention"
				></bo-vertical-menu-item>
				<bo-vertical-menu-item
					name="accounting"
					label="Výdaje"
					icon="cash-outline"
					[badge]="expensesBadge()"
				></bo-vertical-menu-item>
				<bo-vertical-menu-item name="report" label="Report" icon="document-outline"></bo-vertical-menu-item>
			</bo-vertical-menu>
		</div>

		<div class="flex-grow-1">
			<bo-event-info
				[event]="event()"
				class="mb-5"
				[class.d-none]="view() !== 'info'"
				(update)="updateEvent($event)"
			></bo-event-info>

			<bo-event-attendees
				[event]="event()"
				class="mb-5"
				[class.d-none]="view() !== 'attendees'"
				(change)="reloadEvent()"
				(count)="attendeesCount.set($event)"
			></bo-event-attendees>

			<bo-event-problems
				[event]="event()"
				class="mb-5"
				[class.d-none]="view() !== 'problems'"
				(count)="problemsCount.set($event)"
			></bo-event-problems>

			<bo-event-accounting
				[event]="event()"
				class="mb-5"
				[class.d-none]="view() !== 'accounting'"
				(change)="reloadEvent()"
				(count)="expensesCount.set($event)"
			></bo-event-accounting>

			<bo-event-report
				[event]="event()"
				class="mb-5"
				[class.d-none]="view() !== 'report'"
				(update)="updateEvent($event)"
				(change)="reloadEvent()"
			></bo-event-report>
		</div>
	</div>
</bo-page-content>

<bo-page-footer class="d-lg-none">
	<bo-tabs defaultTab="info" (change)="view.set($any($event))">
		<bo-tab name="info" label="Info" icon="calendar"></bo-tab>
		<bo-tab name="attendees" label="Lidé" icon="people-outline" [badge]="attendeesBadge()"></bo-tab>
		<bo-tab
			name="problems"
			label="Potíže"
			icon="medkit-outline"
			[badge]="problemsBadge()"
			badgeVariant="attention"
		></bo-tab>
		<bo-tab name="accounting" label="Výdaje" icon="cash-outline" [badge]="expensesBadge()"></bo-tab>
		<bo-tab name="report" label="Report" icon="document-outline"></bo-tab>
	</bo-tabs>
</bo-page-footer>
