<bo-page-header [title]="event()?.name" backUrl="/akce" [actions]="actions">
	<div
		slot="start"
		class="icon"
		[style.background-color]="(event() | event: 'image') ? 'transparent' : (event() | event: 'color') || '#ccc'"
	>
		@if (event() | event: "image") {
			<img style="height: 2em" class="img-fluid" [src]="event() | event: 'image'" />
		}
	</div>
</bo-page-header>

<bo-page-content [padding]="true">
	<!-- <ion-segment value="info" class="mb-4 d-none d-lg-grid">
		<ion-segment-button value="info" (click)="view.set('info')">
			<ion-label>Info</ion-label>
		</ion-segment-button>

		<ion-segment-button value="attendees" (click)="view.set('attendees')"
			><ion-label>Účastníci</ion-label>
		</ion-segment-button>

		<ion-segment-button value="accounting" (click)="view.set('accounting')"
			><ion-label>Účtování</ion-label>
		</ion-segment-button>

		<ion-segment-button value="report" (click)="view.set('report')"
			><ion-label>Report</ion-label>
		</ion-segment-button>
	</ion-segment> -->

	<p>[[TODO: nastylovat taby na desktopu aby vypadaly líp, třeba jako Ionic Segment]]</p>
	<div class="mb-4 d-none d-lg-grid">
		<bo-tabs defaultTab="info" (change)="view.set($any($event))">
			<bo-tab name="info" label="Info" icon="calendar"></bo-tab>
			<bo-tab name="attendees" label="Účastníci" icon="people-outline"></bo-tab>
			<bo-tab name="accounting" label="Účtování" icon="cash-outline"></bo-tab>
			<bo-tab name="report" label="Report" icon="document-outline"></bo-tab>
		</bo-tabs>
	</div>

	<div>
		<bo-event-info
			[event]="event()"
			class="mb-5"
			[class.d-none]="view() !== 'info'"
			(update)="updateEvent($event)"
		></bo-event-info>

		<bo-event-attendees
			[event]="event()"
			class="mb-5"
			[class.d-none]="view() !== 'attendees'"
			(change)="reloadEvent()"
		></bo-event-attendees>

		<bo-event-accounting
			[event]="event()"
			class="mb-5"
			[class.d-none]="view() !== 'accounting'"
			(change)="reloadEvent()"
		></bo-event-accounting>

		<bo-event-report
			[event]="event()"
			class="mb-5"
			[class.d-none]="view() !== 'report'"
			(update)="updateEvent($event)"
		></bo-event-report>
	</div>
</bo-page-content>

<bo-page-footer class="d-lg-none">
	<bo-tabs defaultTab="info" (change)="view.set($any($event))">
		<bo-tab name="info" label="Info" icon="calendar"></bo-tab>
		<bo-tab name="attendees" label="Účastníci" icon="people-outline"></bo-tab>
		<bo-tab name="accounting" label="Účtování" icon="cash-outline"></bo-tab>
		<bo-tab name="report" label="Report" icon="document-outline"></bo-tab>
	</bo-tabs>
</bo-page-footer>
