<h3 class="mt-4">Členství ve skupině</h3>
<ion-list *ngIf="member" class="selectable">
	<bo-item label="Aktivní" (edit)="editActivity()">
		<ion-label>{{ member.active === undefined ? "-" : member.active ? "Ano" : "Ne" }}</ion-label>
	</bo-item>

	<bo-item label="Role">
		<bo-edit-button-select
			slot="end"
			[required]="true"
			[disabled]="!member._links.updateMember.allowed"
			[values]="memberRolesOptions"
			[value]="member.role"
			(update)="update.emit({ role: $any($event) })"
		/>
		<ion-label>{{ (member | member: "role") || "-" }}</ion-label>
	</bo-item>

	<bo-item label="Oddíl">
		<bo-group-badge [groupId]="member.groupId"></bo-group-badge>
		<!-- <bo-group-select
			[required]="true"
			[disabled]="!member._links.updateMember.allowed"
			[ngModel]="member.groupId"
			(ngModelChange)="update.emit({ groupId: $event })"
		></bo-group-select> -->
	</bo-item>

	<bo-item label="Stav členství" (edit)="editMembership()">
		<ion-label>{{ (member | member: "membership") || "-" }}</ion-label>
	</bo-item>
</ion-list>
