<bo-card class="insurance-card">
	<bo-card-header>
		<bo-card-title>
			<span class="bo-card-section-title">
				<ion-icon name="card-outline" />
				Kartička pojištěnce
			</span>
		</bo-card-title>
	</bo-card-header>

	<bo-card-content>
		@if (insuranceCardUrl()) {
			<div class="preview">
				@switch (member()?.insuranceCardFile) {
					@case ("jpg") {
						<img [src]="insuranceCardUrl()!" />
					}
					@case ("png") {
						<img [src]="insuranceCardUrl()!" />
					}
					@case ("jpeg") {
						<img [src]="insuranceCardUrl()!" />
					}
					@case ("pdf") {
						<embed [src]="insuranceCardSafeUrl()!" style="width: 100%" height="200" />
					}
					@default {
						<a [href]="insuranceCardUrl()!">Stáhnout {{ member()?.insuranceCardFile }}</a>
					}
				}
			</div>
		}
		@if (member()?.insuranceCardFile) {
			<div class="expiration">
				<span class="expiration-label">Platnost do</span>
				<span class="expiration-value">{{
					member()?.insuranceCardExpiration ? (member()!.insuranceCardExpiration | date: "d. M. y") : "-"
				}}</span>

				@if (expirationLabel()) {
					<span
						class="bo-pill expiration-pill"
						[class.bo-pill-red]="expirationState() === 'expired'"
						[class.bo-pill-yellow]="expirationState() !== 'expired'"
						>{{ expirationLabel() }}</span
					>
				}

				<bo-edit-button-date
					label="Platnost kartičky"
					[disabled]="!member()?._links?.updateMember?.allowed"
					[value]="member()?.insuranceCardExpiration"
					(update)="update.emit({ insuranceCardExpiration: $event })"
				/>
			</div>
		}

		@if (insuranceCardUrl() === null) {
			<div class="upload" #dropzone>
				<ion-button fill="clear" color="primary" (click)="fileInput.click()">Nahrát ze souboru</ion-button>

				@if (isCameraCapable) {
					<ion-button fill="clear" color="primary" (click)="captureFromCamera()">Vyfotit kartičku</ion-button>
				}
			</div>
		}

		<input
			class="file-input"
			type="file"
			accept="image/jpeg,image/png,image/gif,application/pdf"
			name="insuranceCard"
			#fileInput
			(change)="onFileOpen(fileInput)"
		/>

		@if (insuranceCardUrl() === undefined) {
			<div class="loading"><ion-skeleton-text></ion-skeleton-text></div>
		}
	</bo-card-content>

	@if (insuranceCardUrl()) {
		<bo-card-footer>
			<ion-buttons>
				<ion-button (click)="openCard()" color="primary" aria-label="Zobrazit kartičku pojištěnce"
					>Zobrazit</ion-button
				>
				<ion-button
					[href]="insuranceCardUrl()!"
					color="primary"
					[download]="'insurance_card.' + member()?.insuranceCardFile"
					aria-label="Stáhnout kartičku pojištěnce"
					>Stáhnout</ion-button
				>

				@if (member()?._links?.deleteInsuranceCard?.applicable) {
					<ion-button
						[disabled]="!member()?._links?.deleteInsuranceCard?.allowed"
						color="danger"
						(click)="deleteCard()"
						>Smazat</ion-button
					>
				}
			</ion-buttons>
		</bo-card-footer>
	}
</bo-card>
