@use "src/styles/variables" as *;

.member {
	cursor: pointer;
}

tr.mmber-inactive {
	text-decoration: line-through;
}
tr.mmber-paused {
	color: $grey;
}

td ion-badge {
	vertical-align: text-top;
}

.column-filter {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.column-filter ion-select {
	min-width: 7rem;
}

:host ::ng-deep .members-table {
	table-layout: fixed;
	width: 100%;
}

ion-select::part(text) {
	font-weight: normal;
}
