<bo-card>
	<bo-card-header>
		<bo-card-title> Volné akce </bo-card-title>
		<bo-card-open-button routerLink="/akce" [queryParams]="{ leaders: 'noleader' }"></bo-card-open-button>
	</bo-card-header>
	<bo-card-content>
		@if (events().length) {
			<ion-list lines="full">
				@for (event of events(); track event.id) {
					<ion-item [detail]="true" [routerLink]="'/akce/' + event.id">
						<ion-label>
							<h4>
								<strong>{{ event.name }}</strong>
							</h4>
							<p>{{ event.dateFrom | date: "d. M. y" }} ~ {{ event.dateTill | date: "d. M. y" }}</p>
							<p>{{ event.description }}</p>
						</ion-label>
					</ion-item>
				}
			</ion-list>
		}
		<div class="showMore">
			@if (hasMore()) {
				<bo-button
					color="light"
					routerLink="/akce"
					[queryParams]="{ leaders: 'noleader' }"
					class="m-0 mt-2 mb-3 text-center"
					>Zobrazit vše</bo-button
				>
			}
		</div>

		@if (!events().length) {
			<p class="m-0 mt-2 mb-3 text-center">Žádné volné akce.</p>
		}
	</bo-card-content>
</bo-card>
