:host {
	background-color: var(--bo-white);
	border-radius: var(--bo-radius-card);
	box-shadow: var(--bo-shadow-card);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: stretch;
}

::ng-deep bo-card-content {
	flex-grow: 1;
}

:host.clickable {
	cursor: pointer;
	transition:
		transform 0.1s ease-in-out,
		box-shadow 0.1s ease-in-out;
}

:host.clickable.mousedown {
	transform: scale(0.98);
}

:host.clickable:hover {
	box-shadow: var(--bo-shadow);
}

:host.clickable.mousedown:hover {
	box-shadow: var(--bo-shadow-small);
}
