<bo-card>
  <bo-card-title>Volné akce</bo-card-title>
  <bo-card-content>
    <div class="list-container">
      <ion-list *ngIf="events.length">
        <ion-item *ngFor="let event of events" [detail]="true" [routerLink]="'/akce/' + event.id">
          <ion-label>
            <h3>
              <strong>{{ event.name }}</strong>
            </h3>
            <p>{{ event.dateFrom | date : "d. M. Y" }} ~ {{ event.dateTill | date : "d. M. Y" }}</p>
            <p>{{ event.description }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <p *ngIf="!events.length" class="m-0">Momentálně nejsou žádné volné akce.</p>
  </bo-card-content>
</bo-card>
