<bo-card class="profile-card">
	<bo-card-content>
		<div class="profile">
			<div class="avatar-wrapper">
				<ion-avatar
					class="avatar"
					[class.clickable]="!!member()?.profilePhoto"
					[attr.role]="member()?.profilePhoto ? 'button' : null"
					(click)="openSourcePhoto()"
				>
					@if (member() | memberProfilePhotoUrl; as src) {
						<img [src]="src" [alt]="member()!.nickname" />
					} @else if (member()) {
						<span>{{ member()! | member: "initials" }}</span>
					}
				</ion-avatar>

				@if (member()?._links?.updateMemberProfilePhoto?.applicable) {
					<button
						type="button"
						class="avatar-edit"
						[class.disabled]="!member()!._links.updateMemberProfilePhoto.allowed"
						[attr.aria-disabled]="!member()!._links.updateMemberProfilePhoto.allowed"
						[boTooltip]="
							member()!._links.updateMemberProfilePhoto.allowed
								? 'Změnit profilovou fotku'
								: 'Na změnu profilové fotky nemáš oprávnění.'
						"
						(click)="editProfilePhoto()"
					>
						<ion-icon name="camera-outline"></ion-icon>
					</button>
				}
			</div>

			@if (member()?.nickname || member()?.firstName) {
				<div class="profile-name san selectable d-none d-lg-block">
					{{ member()?.nickname || member()?.firstName }}
				</div>
			}
		</div>
	</bo-card-content>
</bo-card>
