<bo-page-header [title]="album()?.name" backUrl="/galerie" [actions]="actions()" actionsHeader="Album" />

<bo-page-content [padding]="true">
	@if (album()?.dateFrom && album()?.dateTill) {
		<p>
			{{ [album()!.dateFrom!, album()!.dateTill!] | dateRange: "d. M. y" }}, publikováno
			{{ album()!.datePublished | date: "d. M. y" }}
		</p>
	}

	<p>{{ album()?.description }}</p>

	<div class="gallery">
		@if (photos()?.length) {
			<bo-photo-gallery
				[photos]="photos()!"
				[maxHeight]="320"
				[clickable]="true"
				(click)="onPhotoClick($event)"
			></bo-photo-gallery>
		} @else if (photos()) {
			<p class="ion-text-center ion-padding">V tomto albu zatím nejsou žádné fotky.</p>
		}
	</div>
</bo-page-content>

<bo-albums-tabs [album]="album()" selected="info"></bo-albums-tabs>
