<bo-page-header
	[title]="album()?.name"
	backUrl="/galerie"
	[actions]="headerActions()"
	actionsHeader="Album"
/>

<bo-page-content [padding]="true">
	<bo-album-info [album]="album()" (update)="updateAlbum($event)" />

	<bo-album-gallery
		[photos]="photos()"
		[view]="photosView()"
		[selecting]="selecting()"
		[selectedPhotos]="selectedPhotos()"
		(upload)="uploadPhotos()"
		(viewChange)="photosView.set($event)"
		(sort)="sortPhotos()"
		(selectingStart)="startSelecting()"
		(selectingCancel)="cancelSelecting()"
		(deleteSelected)="deleteSelected()"
		(selectedPhotosChange)="selectedPhotos.set($event)"
		(reorder)="onReorder($event)"
		(photoClick)="onGalleryClick($event)"
		(listClick)="onListClick($event)"
		(longPress)="onLongPress($event)"
	/>
</bo-page-content>
