<bo-page-header [title]="album()?.name" backUrl="/galerie" [actions]="headerActions()" actionsHeader="Album" />

<bo-page-content [padding]="true">
	<div class="album-top">
		<div class="album-top-info">
			<bo-album-info #albumInfo [album]="album()" (update)="updateAlbum($event)" />
		</div>

		@if (titlePhoto(); as photo) {
			<div class="title-photo d-none d-lg-block" [style.width.px]="titlePhotoWidth()">
				<img [src]="photo | photoImageUrl: 'big'" [style.background-color]="photo.bg" />
			</div>
		}
	</div>

	<bo-album-gallery
		[photos]="photos()"
		[view]="photosView()"
		[selecting]="selecting()"
		[selectedPhotos]="selectedPhotos()"
		(upload)="uploadPhotos()"
		(viewChange)="photosView.set($event)"
		(sort)="sortPhotos()"
		(selectingStart)="startSelecting()"
		(selectingCancel)="cancelSelecting()"
		(deleteSelected)="deleteSelected()"
		(selectedPhotosChange)="selectedPhotos.set($event)"
		(reorder)="onReorder($event)"
		(photoClick)="onGalleryClick($event)"
		(listClick)="onListClick($event)"
		(longPress)="onLongPress($event)"
	/>
</bo-page-content>
