<h4 class="mt-4">Adresa</h4>
<bo-card class="address">
	<bo-card-content>
		<ion-skeleton-text *ngIf="member === undefined" [animated]="true"></ion-skeleton-text>

		<ion-list *ngIf="member" class="selectable" lines="none">
			<ion-item [button]="true" [detail]="false">
				<ion-label *ngIf="getFullAddress(member)">{{ getFullAddress(member) }}</ion-label>
				<ion-label *ngIf="!getFullAddress(member)"><em>Adresa není vyplněna</em></ion-label>

				<ion-buttons slot="end">
					<bo-copy-button [text]="getFullAddress(member)"></bo-copy-button>
					<bo-edit-button (click)="editAddress()"></bo-edit-button>
				</ion-buttons>
			</ion-item>
		</ion-list>
	</bo-card-content>
</bo-card>
