<h3>Účastníci</h3>

<ion-list>
  <!-- ATTENDEES -->
  <p *ngIf="attendees && !attendees.length"><em>Žádní účastníci</em></p>

  <ion-item *ngFor="let attendee of attendees">
    <ion-label>
      <h3>{{ attendee.member | member: "nickname" }}</h3>
      <p><bo-member-item-detail *ngIf="attendee.member" [member]="attendee.member"></bo-member-item-detail></p>
    </ion-label>
    <ion-badge
      slot="end"
      mode="ios"
      [style.background-color]="attendee.member?.groupId | group: 'color'"
      class="d-none d-xl-block"
    >
      {{ attendee.member?.groupId | group: "name" }}
    </ion-badge>
    <ion-button fill="clear" [routerLink]="'/databaze/' + attendee.memberId" slot="end">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" color="danger" (click)="removeAttendee(attendee)" slot="end">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <div class="text-center">
    <bo-add-button (click)="addAttendee()">Přidat účastníka</bo-add-button>
  </div>
</ion-list>
