<h3>Vedoucí</h3>

<bo-event-attendees-list
  [event]="event"
  [attendees]="leaders"
  (remove)="removeAttendee($event)"
></bo-event-attendees-list>

<div class="text-center">
  <bo-add-button (click)="addAttendee()">Přidat vedoucí</bo-add-button>
</div>

<h3>Účastníci</h3>

<bo-event-attendees-list
  [event]="event"
  [attendees]="attendees"
  (remove)="removeAttendee($event)"
></bo-event-attendees-list>

<div *ngIf="event?._links?.addEventAttendee?.allowed" class="text-center">
  <bo-add-button (click)="addAttendee()">Přidat účastníka</bo-add-button>
</div>
