@if (canSeeChildDays()) {
	<bo-home-leaderboard-card
		title="Děťodny"
		infoTitle="Jak se počítají děťodny"
		[infoLines]="infoLines"
		[year]="year()"
		[canGoBack]="canGoBack()"
		[canGoForward]="canGoForward()"
		(previousYear)="previousYear()"
		(nextYear)="nextYear()"
	>
		@if (statistics(); as statistics) {
			<div class="total">
				<span class="total-value">{{ statistics.childDays }}</span>
				<span class="total-label">
					{{ statistics.childDays | i18nPlural: childDaysPluralMap }} na akcích roku {{ statistics.year }}
				</span>
			</div>
		} @else {
			<div class="total">
				<ion-skeleton-text class="total-skeleton" [animated]="true"></ion-skeleton-text>
			</div>
		}
	</bo-home-leaderboard-card>
}
