<h3 class="mt-4">Členství ve skupině</h3>
@if (member()) {
	@let memberValue = member()!;
	<ion-list class="selectable">
		<bo-item label="Aktivní">
			<ion-label>{{ memberValue.active === undefined ? "-" : memberValue.active ? "Ano" : "Ne" }}</ion-label>
			<bo-edit-button slot="end" [disabled]="!memberValue._links.updateMember.allowed" (click)="editActivity()" />
		</bo-item>

		<bo-item label="Role">
			<ion-label>{{ (memberValue | member: "role") || "-" }}</ion-label>
			<bo-edit-button-select
				slot="end"
				[required]="true"
				[disabled]="!memberValue._links.updateMember.allowed"
				[values]="memberRolesOptions"
				[value]="memberValue.role"
				(update)="update.emit({ role: $any($event) })"
			/>
		</bo-item>

		<bo-item label="Oddíl">
			<bo-group-badge [groupId]="memberValue.groupId"></bo-group-badge>
			<bo-edit-button slot="end" [disabled]="!memberValue._links.updateMember.allowed" (click)="editGroup()" />
		</bo-item>

		<bo-item label="Stav členství" (edit)="editMembership()">
			<ion-label>{{ (memberValue | member: "membership") || "-" }}</ion-label>
			<bo-edit-button-select
				slot="end"
				[required]="true"
				[disabled]="!memberValue._links.updateMember.allowed"
				[values]="memberMembershipOptions"
				[value]="memberValue.membership"
				(update)="update.emit({ membership: $any($event) })"
			/>
		</bo-item>
	</ion-list>
}
