<h3 class="mt-4">Členství ve skupině</h3>
@if (member()) {
	@let memberValue = member()!;
	<ion-list class="selectable">
		<bo-item label="Aktivní" (edit)="editActivity()">
			<ion-label>{{ memberValue.active === undefined ? "-" : memberValue.active ? "Ano" : "Ne" }}</ion-label>
		</bo-item>

		<bo-item label="Role">
			<bo-edit-button-select
				slot="end"
				[required]="true"
				[disabled]="!memberValue._links.updateMember.allowed"
				[values]="memberRolesOptions"
				[value]="memberValue.role"
				(update)="update.emit({ role: $any($event) })"
			/>
			<ion-label>{{ (memberValue | member: "role") || "-" }}</ion-label>
		</bo-item>

		<bo-item label="Oddíl">
			<bo-group-badge [groupId]="memberValue.groupId"></bo-group-badge>
			<!-- <bo-group-select
			[required]="true"
			[disabled]="!memberValue._links.updateMember.allowed"
			[ngModel]="memberValue.groupId"
			(ngModelChange)="update.emit({ groupId: $event })"
		></bo-group-select> -->
		</bo-item>

		<bo-item label="Stav členství" (edit)="editMembership()">
			<ion-label>{{ (memberValue | member: "membership") || "-" }}</ion-label>
		</bo-item>
	</ion-list>
}
