<ion-list>
	<ion-item>
		<ion-label>Login:</ion-label>
		@if (user()?.login) {
			<ion-label>
				<ion-text color="success">Zapnuto</ion-text><br />
				{{ user()?.login }}
			</ion-label>
		} @else {
			<ion-label>
				<ion-text color="danger">Vypnuto</ion-text>
			</ion-label>
		}
		<ion-label>
			@if (user()?._links?.updateUser?.allowed) {
				<a class="clickable" (click)="changeLogin()">Změnit login</a>
			}
		</ion-label>
	</ion-item>

	<ion-item>
		<ion-label>Heslo:</ion-label>
		@if (user()?.login) {
			<ion-label>
				<ion-text color="success">Nastaveno</ion-text>
			</ion-label>
		} @else {
			<ion-label>
				<ion-text color="danger">Nenastaveno</ion-text>
			</ion-label>
		}
		<ion-label>
			@if (user()?._links?.setUserPassword?.allowed) {
				<a class="clickable" (click)="changePassword()">Změnit heslo</a>
			}
		</ion-label>
	</ion-item>

	<ion-item>
		<ion-label>Bošánovský mail:</ion-label>
		@if (user()?.email) {
			<ion-label>
				<ion-text color="success">Zapnuto</ion-text><br />
				{{ user()?.email }}
			</ion-label>
		}
		@if (!user()?.email) {
			<ion-label>
				<ion-text color="danger">Vypnuto</ion-text><br />
				U účtu není uveden email
			</ion-label>
		}
		<ion-label></ion-label>
	</ion-item>

	<ion-item>
		<ion-label>Odkazem na mail:</ion-label>
		@if (user()?.email) {
			<ion-label>
				<ion-text color="success">Zapnuto</ion-text><br />
				{{ user()?.email }}
			</ion-label>
		}
		@if (!user()?.email) {
			<ion-label>
				<ion-text color="danger">Vypnuto</ion-text><br />
				U účtu není uveden email
			</ion-label>
		}
		<ion-label></ion-label>
	</ion-item>
</ion-list>
