.messages {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

bo-card {
  width: 100%;
  margin-bottom: 1.5em;
}

bo-card.assistant {
  margin-right: 10vw;
}

bo-card.user {
  margin-left: 10vw;
}
