<!-- @if (isIos() && backUrl) {
	<ion-back-button [defaultHref]="backUrl"></ion-back-button>
} -->
<ng-content select="[slot=start]"></ng-content>

<h2 class="ms-3">{{ title() }}</h2>

<div class="title-end">
	<ng-content select="[slot=title-end]"></ng-content>
</div>

<div class="spacer"></div>

<div class="actions" slot="end">
	@if (actions()) {
		<ion-buttons slot="end">
			<bo-action-buttons [actions]="actions()!" [header]="title()"></bo-action-buttons>
		</ion-buttons>
	}
	<ng-content></ng-content>
</div>
