:host {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 18px 10px 10px 10px;
}

.spacer {
	flex-grow: 1;
}

.actions {
	display: flex;
	align-items: center;
	flex-direction: row;
}

h2{
	margin:0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}