<bo-card class="address">
	<bo-card-header>
		<bo-card-title>
			<span class="bo-card-section-title">
				<ion-icon name="home-outline" />
				Adresa
			</span>
		</bo-card-title>
	</bo-card-header>

	<bo-card-content>
		@if (member() === undefined) {
			<div class="bo-info-list">
				<div class="bo-info-row"><ion-skeleton-text [animated]="true"></ion-skeleton-text></div>
			</div>
		}

		@if (member()) {
			@let memberValue = member()!;
			<div class="bo-info-list selectable">
				<div class="bo-info-row">
					@if (getFullAddress(memberValue)) {
						<span class="bo-info-value address-value">{{ getFullAddress(memberValue) }}</span>
					} @else {
						<span class="bo-info-value address-value"><em>Adresa není vyplněna</em></span>
					}

					<span class="bo-info-action">
						<bo-copy-button [text]="getFullAddress(memberValue)"></bo-copy-button>
						<bo-edit-button (click)="editAddress()"></bo-edit-button>
					</span>
				</div>
			</div>
		}
	</bo-card-content>
</bo-card>
