@use "src/styles/variables" as *;

::ng-deep {
  .logo-small {
    height: 2rem;
  }
  .environment {
    color: #f00;
  }
}

ion-item {
  --inner-border-width: 0;
  --background: transparent;
}
ion-item-group {
  margin-left: 1em;
  ion-label {
    font-size: 0.8em;
  }
}
