<h3>Přihláška</h3>

<bo-card>
	<bo-card-content>
		<div class="buttons">
			<ion-button
				*ngIf="
					event?._links?.saveEventRegistration?.applicable
				"
				[disabled]="!event?._links?.saveEventRegistration?.allowed || uploadingRegistration"
				fill="clear"
				(click)="registrationInput.click()"
				>Nahrát</ion-button
			>

			<ion-button
				*ngIf="event?._links?.getEventRegistration?.applicable"
				[disabled]="!event?._links?.getEventRegistration?.allowed || uploadingRegistration"
				[href]="getRegistrationUrl(event!)"
				target="_blank"
				fill="clear"
				>Zobrazit</ion-button
			>
			<ion-button
				*ngIf="event?._links?.deleteEventRegistration?.applicable"
				[disabled]="!event?._links?.deleteEventRegistration?.allowed || uploadingRegistration"
				fill="clear"
				color="danger"
				(click)="deleteRegistration()"
				>Smazat</ion-button
			>
		</div>
	</bo-card-content>
</bo-card>

<p *ngIf="uploadingRegistration">Nahrávám&hellip;</p>
<input
	class="d-none"
	type="file"
	accept="application/pdf"
	#registrationInput
	ngModel
	(ngModelChange)="uploadRegistration(registrationInput)"
	required
/>
