<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/akce"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Účastníci: {{ event?.name }}</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Účastníci akce"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- ATTENDEES -->
    <ion-item *ngFor="let attendee of attendees">
      <ion-label>
        <h3>{{ attendee.member | member : "nickname" }}</h3>
        <p><bo-member-item-detail *ngIf="attendee.member" [member]="attendee.member"></bo-member-item-detail></p>
      </ion-label>
      <ion-badge
        slot="end"
        mode="ios"
        [style.background-color]="attendee.member?.groupId | group : 'color'"
        class="d-none d-xl-block"
      >
        {{ attendee.member?.groupId | group : "name" }}
      </ion-badge>
      <ion-button fill="clear" [routerLink]="'/databaze/' + attendee.memberId" slot="end">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="removeAttendee(attendee)" slot="end">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
