ion-list {
	background-color: var(--bo-white);
	border-radius: var(--bo-radius-card);
	box-shadow: var(--bo-shadow-card);
	padding: 0.25rem 0.75rem;
	display: block;
}

ion-badge {
	border-radius: var(--bo-radius-pill);
	font-weight: 700;
	padding: 0.4em 0.9em;
}

bo-item {
	--label-width: 50px;
	cursor: pointer;
}

.type {
	flex: 0 0 80px;
	text-align: center;
}

.amount {
	flex: 0 0 100px;
	text-align: end;
}

.expense-grid {
    display: grid;
    align-items: center;
    width: 100%;
    gap: 4px 12px;
    padding: 8px 0;

    grid-template-areas:
        "id badge amount action"
        "desc desc desc desc";

    grid-template-columns: 1fr 90px 95px 30px;
}

.id-cell {
    grid-area: id;
    font-weight: bold;
}

.desc-cell {
    grid-area: desc;
    margin: 0;
    color: var(--ion-color-medium);
    padding-top: 4px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge-cell {
    grid-area: badge;
    display: flex;
    justify-content: center;
}

.amount-cell {
    grid-area: amount;
    text-align: right;
    white-space: nowrap;
}

.action-cell {
    grid-area: action;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .expense-grid {
        grid-template-areas: "id desc badge amount action";

        grid-template-columns: 50px 1fr 90px 95px 30px;
        align-items: center;
    }

    .desc-cell {
        padding-top: 0;
    }
}
