<div class="row">
	<div class="order-2 order-lg-1 col-12 col-xl-8">
		<div class="list-header">
			<h3>Účtenky</h3>
			<bo-event-expense-types-info></bo-event-expense-types-info>
		</div>

		<ion-list>
			@for (expense of expenses(); track expense.id) {
			<bo-item (click)="editExpense(expense)">

				<div class="expense-grid">
					<span class="id-cell">{{ expense.receiptNumber }}</span>

					<div class="badge-cell">
						<ion-badge mode="ios" [style.background-color]="expense | eventExpense: 'color'">
							{{ expense | eventExpense: "type" }}
						</ion-badge>
					</div>

					<span class="amount-cell">
						{{ expense.amount | number: "1.2-2" : "cs" }}&nbsp;Kč
					</span>

					<div class="action-cell">
						<bo-delete-button (click)="$event.stopPropagation(); removeExpense(expense)"></bo-delete-button>
					</div>

					<p class="desc-cell">{{ expense.description }}</p>

				</div>
			</bo-item>
			}

			@if (expenses().length === 0) {
				<bo-item>
					<p class="text-muted"><em>Žádné účtenky</em></p>
				</bo-item>
			}
		</ion-list>

		<div *ngIf="event()?._links?.addEventExpense?.allowed" class="text-center">
			<bo-add-button (click)="addExpense()">Přidat účtenku</bo-add-button>
		</div>
	</div>
	<div class="order-1 order-lg-2 col-12 col-xl-4">
		@if (expenses().length > 0) {
			<div class="d-none d-lg-block">
				<bo-card class="mb-3">
					<bo-card-header>
						<bo-card-title>Výdaje podle typu</bo-card-title>
					</bo-card-header>
					<bo-card-content>
						<bo-event-expenses-chart [event]="event()" [expenses]="expenses()"></bo-event-expenses-chart>
					</bo-card-content>
				</bo-card>
			</div>
		}

		@if (event() && event()!._links.getEventAccounting.allowed) {
			<div class="text-center">
				<ion-button (click)="getAccounting(event()!)" expand="block" fill="outline">
					Stáhnout účtování
				</ion-button>
			</div>
		}
	</div>
</div>
