<bo-page-header [title]="getFullName(member)" backUrl="/databaze" [actions]="actions"></bo-page-header>

<bo-page-content [padding]="true">
	<div class="row mt-3 mt-xxl-5 layout">
		<div class="col-12 col-xl-4 col-xxl-3 d-lg-block">
			<bo-member-profile
				[member]="member"
				class="d-lg-block mb-5"
				[class.d-none]="view !== 'profile'"
			></bo-member-profile>
		</div>
		<div class="col-12 col-xl-8 col-xxl-9">
			<bo-member-info
				[member]="member"
				(update)="updateMember($event)"
				class="d-lg-block mb-5"
				[class.d-none]="view !== 'profile'"
			/>

			<bo-member-contact
				[member]="member"
				(update)="updateMember($event)"
				class="d-lg-block mb-5"
				[class.d-none]="view !== 'profile' && view !== 'contacts'"
			/>

			<bo-member-address
				[member]="member"
				(update)="updateMember($event)"
				class="d-lg-block mb-5"
				[class.d-none]="view !== 'profile'"
			/>

			<bo-member-membership
				[member]="member"
				(update)="updateMember($event)"
				class="d-lg-block mb-5"
				[class.d-none]="view !== 'profile'"
			/>

			<bo-member-health
				[member]="member"
				(update)="updateMember($event)"
				class="d-lg-block mb-5"
				[class.d-none]="view !== 'health'"
			/>

			<bo-member-contacts
				[member]="member"
				(update)="updateMember($event)"
				class="d-lg-block mb-5"
				[class.d-none]="view !== 'contacts'"
			/>
		</div>
	</div>
</bo-page-content>

<bo-page-footer class="d-lg-none">
	<ion-toolbar>
		<ion-tab-bar>
			<ion-tab-button
				routerLink="."
				[queryParams]="{ view: 'profile' }"
				routerLinkActive="tab-selected"
				[replaceUrl]="true"
			>
				<ion-icon name="person-circle-outline"></ion-icon>
			</ion-tab-button>

			<ion-tab-button
				routerLink="."
				[queryParams]="{ view: 'health' }"
				routerLinkActive="tab-selected"
				[replaceUrl]="true"
				class="tab-health"
			>
				<ion-icon name="heart-outline"></ion-icon>
			</ion-tab-button>

			<ion-tab-button
				routerLink="."
				[queryParams]="{ view: 'contacts' }"
				routerLinkActive="tab-selected"
				[replaceUrl]="true"
			>
				<ion-icon name="call-outline"></ion-icon>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-toolbar>
</bo-page-footer>
