@if (!showSearch()) {
	<a routerLink="/" slot="start"><img src="assets/img/logo.svg" alt="Logo" height="56" /></a>
	<h1 slot="start">
		Bošán
		@if (environment()) {
			<span class="environment">{{ environment() }}</span>
		}
	</h1>
}

@if (isLg() || showSearch()) {
	<bo-global-search [showCancelButton]="!isLg()" (close)="showSearch.set(false)" (searchBlur)="onSearchBlur()" />
}

<ion-buttons slot="end">
	@if (!isLg() && !showSearch()) {
		<ion-button fill="clear" size="large" (click)="showSearch.set(true)">
			<ion-icon name="search-sharp"></ion-icon>
		</ion-button>
	}

	<bo-account-menu />
</ion-buttons>
