<!-- SINGLE -->
@if (single) {
	<ion-button [color]="single.color" [disabled]="single.disabled" (click)="onClick(single)">
		@if (!single.text && single.icon) {
			<ion-icon [name]="single.icon"></ion-icon>
		}
		@if (single.text) {
			<span>
				<ion-text [color]="single.color">{{ single.text }}</ion-text>
			</span>
		}
	</ion-button>
}

<!-- PINNED -->
@for (action of pinned; track action) {
	<ion-button [disabled]="action.disabled" (click)="onClick(action)">
		@if (action.icon) {
			<ion-icon [class.d-xl-none]="!ios && action.text" [name]="action.icon"></ion-icon>
		}
		@if (action.text) {
			<span [class.d-none]="action.icon" [class.d-xl-inline]="!ios">
				<ion-text [color]="action.color">{{ action.text }}</ion-text>
			</span>
		}
	</ion-button>
}

<!-- BUTTONS -->
@for (action of buttons; track action) {
	<ion-button
		[disabled]="action.disabled"
		[color]="action.color"
		(click)="onClick(action)"
		class="d-none"
		[class.d-xl-inline-block]="!ios"
	>
		{{ action.text }}
	</ion-button>
}

<!-- DROPDOWN -->
@if (menu.length > 0) {
	<ion-button [class.d-xl-none]="!ios" (click)="openActions()">
		<ion-icon name="ellipsis-vertical"></ion-icon>
	</ion-button>
}
