name: bosan_interni_sekce_development

services:
  devcontainer:
    build: .
    command: sleep infinity
    volumes:
      - ..:/workspace:cached
    environment:
      ENV_TITLE: "DEV"
      DB_HOST: postgres
      DB_USER: postgres
      DB_PASSWORD: password
      DB_DATABASE: postgres
      DB_SCHEMA: public
      MONGODB_URI: mongodb://mongo/bosan
      CORS_ENABLE: "true"
      CORS_ORIGINS: "http://localhost:4200,http://localhost:4300"

  postgres:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: password

  pgweb:
    image: sosedoff/pgweb
    ports:
      - "8081:8081"
    environment:
      - DATABASE_URL=postgres://postgres:password@postgres:5432/postgres?sslmode=disable
    depends_on:
      - postgres
