<bo-page-header [title]="group?.name" backUrl="/oddily" [actions]="actions"></bo-page-header>

<bo-page-content>
	<router-outlet></router-outlet>
</bo-page-content>

<bo-page-footer>
	<ion-toolbar>
		<ion-tab-bar>
			<ion-tab-button
				[routerLink]="['/oddily', group?.id, 'info']"
				routerLinkActive="tab-selected"
				[replaceUrl]="true"
			>
				<ion-icon name="information-circle-outline"></ion-icon>
			</ion-tab-button>
			<ion-tab-button
				[routerLink]="['/oddily', group?.id, 'clenove']"
				routerLinkActive="tab-selected"
				[replaceUrl]="true"
			>
				<ion-icon name="people-outline"></ion-icon>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-toolbar>
</bo-page-footer>
