@if (myEvents()?.length) {
	<bo-card>
		<bo-card-header>
			<bo-card-title> Moje akce </bo-card-title>
			<bo-card-open-button routerLink="/akce" [queryParams]="{ leaders: 'my' }"></bo-card-open-button>
		</bo-card-header>

		<bo-card-content>
			@if (myEvents()?.length !== 0) {
				<ion-list lines="full">
					@for (event of myEvents()! | slice: 0 : 3; track event.id) {
						<ion-item [detail]="true" [routerLink]="'/akce/' + event.id">
							<ion-label>
								<h4>
									<strong>{{ event.name }}</strong>
								</h4>
								<p>{{ event.dateFrom | date: "d. M. y" }} ~ {{ event.dateTill | date: "d. M. y" }}</p>
								<p>{{ event.description }}</p>
							</ion-label>
						</ion-item>
					}
				</ion-list>
			}
			@if (myEvents() === undefined) {
				<ion-item>
					<ion-label><ion-skeleton-text></ion-skeleton-text></ion-label>
				</ion-item>
			}
		</bo-card-content>
	</bo-card>
}
