::ng-deep svg {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	max-width: 30%;
	translate: -50% -50%;

	.wave {
		animation: flip 1s steps(2) infinite alternate-reverse;
		transform-origin: center;
	}
}

@keyframes flip {
	to {
		transform: rotateX(360deg);
	}
}
