:host {
	display: block;
	width: 100%;
}

.photo-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5px;
}

.photo-row:last-child {
	justify-content: start;
	.photo:not(:last-child) {
		margin-right: 5px;
	}
}

.photo {
	position: relative;
	overflow: hidden;
	border-radius: 8px;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		max-width: none;
	}

	.caption {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.3);
		color: #fff;
		margin: 0;
		text-align: center;
		padding: 0 5px;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}

.photo.clickable {
	cursor: pointer;
	transition: transform 250ms;
}
.photo.clickable:hover {
	transform: scale(1.01);
}
