<ion-toolbar>
	<ion-searchbar
		enterkeyhint="search"
		[debounce]="300"
		(ionInput)="searchEvents($any($event).detail.value)"
	></ion-searchbar>
	<ion-buttons slot="end">
		<ion-button (click)="close.emit()">Zrušit</ion-button>
	</ion-buttons>
</ion-toolbar>

<ion-content>
	<ion-list>
		@for (event of events() ?? []; track event.id) {
			<ion-item [button]="true" (click)="submit.emit(event)">
				<ion-label>
					<h3>{{ event.name }}</h3>
					<p>{{ [event.dateFrom, event.dateTill] | dateRange }}</p>
				</ion-label>
			</ion-item>
		}
	</ion-list>

	<ion-infinite-scroll (ionInfinite)="onInfiniteScroll($any($event))">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
