<ion-list lines="none" mode="md">
	<ion-item
		routerLink="/"
		[queryParams]="{ tab: 'dashboard' }"
		routerLinkActive="active"
		[routerLinkActiveOptions]="tabLinkActiveOptions"
	>
		<ion-icon name="home-sharp" class="me-3"></ion-icon>
		<ion-label>Bošán</ion-label>
	</ion-item>
	<ion-item
		routerLink="/akce"
		[queryParams]="{ year: 'budouci' }"
		routerLinkActive="active"
		[routerLinkActiveOptions]="pathLinkActiveOptions"
	>
		<span class="nav-icon nav-icon--akce me-3"></span>
		<ion-label>Akce</ion-label>
	</ion-item>
	<ion-item routerLink="galerie" routerLinkActive="active">
		<span class="nav-icon nav-icon--galerie me-3"></span>
		<ion-label>Galerie</ion-label>
	</ion-item>
	<ion-item routerLink="databaze" routerLinkActive="active">
		<span class="nav-icon nav-icon--databaze me-3"></span>
		<ion-label>Databáze</ion-label>
	</ion-item>
	<ion-item
		routerLink="/"
		[queryParams]="{ tab: 'calendar' }"
		routerLinkActive="active"
		[routerLinkActiveOptions]="tabLinkActiveOptions"
	>
		<span class="nav-icon nav-icon--program me-3"></span>
		<ion-label>Kalendář</ion-label>
	</ion-item>
</ion-list>
<hr />
<ion-list lines="none" mode="md">
	<ion-item routerLink="/ucet" routerLinkActive="active">
		<ion-icon class="me-3" name="person"></ion-icon>
		<ion-label>Můj účet</ion-label>
	</ion-item>

	@if (canAccessAdmin()) {
		<ion-item routerLink="/admin" routerLinkActive="active">
			<ion-icon class="me-3" name="settings"></ion-icon>
			<ion-label>Administrace</ion-label>
		</ion-item>
	}

	<ion-item [button]="true" (click)="reportBug()">
		<ion-icon class="me-3" name="bug-outline"></ion-icon>
		<ion-label>Nahlásit chybu</ion-label>
	</ion-item>

	<ion-item [button]="true" (click)="logout()">
		<ion-icon class="me-3" name="log-out"></ion-icon>
		<ion-label>Odhlásit se</ion-label>
	</ion-item>
</ion-list>

<div class="bottom">
	<bo-dark-mode-toggle></bo-dark-mode-toggle>
	<bo-version class="mt-2"></bo-version>
</div>
