<bo-page-header
  [title]="user ? user.login + ', ' + user.email : '...'"
  backUrl="/uzivatele"
  [actions]="actions"
></bo-page-header>

<bo-page-content [padding]="true" *ngIf="user">
  <div class="row">
    <div class="col-lg-4 mb-3">
      <bo-card>
        <bo-card-header>
          <bo-card-title> Uživatelský účet </bo-card-title>
          <bo-edit-button slot="end"><bo-users-edit-account></bo-users-edit-account></bo-edit-button>
        </bo-card-header>
        <bo-card-content>
          <table class="table">
            <tr>
              <th>Login</th>
              <td>{{ user.login }}</td>
            </tr>
            <tr>
              <th>E-mail</th>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <th>Role</th>
              <td>
                <ion-badge *ngFor="let role of user.roles">{{ role }}</ion-badge>
              </td>
            </tr>
          </table>
        </bo-card-content>
      </bo-card>
    </div>
    <div class="col-lg-4 mb-3">
      <bo-card>
        <bo-card-header>
          <bo-card-title> Propojený člen </bo-card-title>
          <ion-buttons slot="end">
            <bo-edit-button><bo-users-edit-account></bo-users-edit-account></bo-edit-button>
            <ion-button color="primary" [routerLink]="['/databaze', user.member?.id]">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-buttons>
        </bo-card-header>
        <bo-card-content>
          <table *ngIf="user.member" class="table">
            <tr>
              <th>Přezdívka</th>
              <td>{{ user.member.nickname }}</td>
            </tr>
            <tr>
              <th>Jméno</th>
              <td>{{ user.member.firstName }} {{ user.member.lastName }}</td>
            </tr>
            <tr>
              <th>Datum narození</th>
              <td>{{ user.member.birthday | date }}</td>
            </tr>
          </table>
        </bo-card-content>
      </bo-card>
    </div>
  </div>
</bo-page-content>
