bo-card-insurance-card {
	max-width: 400px;
}

ion-list {
	padding: 0;
}

.severity-icon {
	margin-inline-end: 0.75rem;
	font-size: 1.8rem;
}

ion-buttons.justify-content-center {
	justify-content: center;
}
