<div class="ion-padding">
  <h2>Známé problémy</h2>
  <ion-skeleton-text *ngIf="member === undefined"></ion-skeleton-text>
  <p *ngIf="member?.knownProblems" [innerHtml]="member!.knownProblems | markdown" class="selectable"></p>
  <p *ngIf="member && !member.knownProblems"><i>Žádné známé problémy</i></p>
  <a *ngIf="member" [routerLink]="['/databaze', member.id, 'upravit']" fragment="zdravi">Upravit</a>

  <h2 class="mt-5">Alergie</h2>
  <ion-skeleton-text *ngIf="member === undefined"></ion-skeleton-text>
  <p *ngIf="member?.allergies" [innerHtml]="member!.allergies | markdown" class="selectable"></p>
  <p *ngIf="member && !member.knownProblems"><i>Žádné známé alergie</i></p>
  <a *ngIf="member" [routerLink]="['/databaze', member.id, 'upravit']" fragment="zdravi">Upravit</a>

  <h2 class="mt-5">Kartička pojištěnce</h2>
  <bo-card class="insurance-card">
    <bo-card-content>
      <img [src]="insuranceCardUrl" *ngIf="insuranceCardUrl" />

      <div class="upload" *ngIf="insuranceCardUrl === null">
        <ion-button fill="clear" color="primary">Nahrát kartičku</ion-button>
      </div>

      <div class="loading" *ngIf="insuranceCardUrl === undefined"><ion-skeleton-text></ion-skeleton-text></div>
    </bo-card-content>

    <bo-card-footer *ngIf="insuranceCardUrl">
      <ion-buttons>
        <ion-button
          *ngIf="member?._links?.uploadInsuranceCard?.applicable"
          [disabled]="!member?._links?.uploadInsuranceCard?.allowed"
          >Změnit</ion-button
        >
        <ion-button
          *ngIf="member?._links?.deleteInsuranceCard?.applicable"
          [disabled]="!member?._links?.deleteInsuranceCard?.allowed"
          color="danger"
          >Smazat</ion-button
        >
      </ion-buttons>
    </bo-card-footer>
  </bo-card>
</div>
