<h3>Základní informace</h3>

<ion-list class="selectable">
  <bo-item label="Název" [loading]="!event" [editable]="!!event?._links?.updateEvent?.allowed" (edit)="editName()">
    <p>{{ event?.name }}</p>
  </bo-item>

  <bo-item label="Termín" [loading]="!event" [editable]="!!event?._links?.updateEvent?.allowed" (edit)="editDate()">
    <p>{{ [event?.dateFrom, event?.dateTill] | dateRange }}</p>
  </bo-item>

  <bo-item label="Místo" [loading]="!event" [editable]="!!event?._links?.updateEvent?.allowed" (edit)="editPlace()">
    <p>{{ event?.place ?? "-" }}</p>
  </bo-item>

  <bo-item
    label="Sraz"
    [loading]="!event"
    [editable]="!!event?._links?.updateEvent?.allowed"
    (edit)="editMeetingStart()"
  >
    <p>{{ event?.meetingPlaceStart ?? "-" }}</p>
  </bo-item>

  <bo-item
    label="Konec"
    [loading]="!event"
    [editable]="!!event?._links?.updateEvent?.allowed"
    (edit)="editMeetingEnd()"
  >
    <p>{{ event?.meetingPlaceEnd ?? "-" }}</p>
  </bo-item>

  <bo-item label="Typ" [loading]="!event" lines="inset">
    <bo-event-type-selector
      [disabled]="!event?._links?.updateEvent?.allowed"
      [ngModel]="event?.type"
      (ngModelChange)="updateType($event)"
    ></bo-event-type-selector>
  </bo-item>

  <bo-item label="Oddíl" [loading]="!event">
    <bo-group-select
      [disabled]="!event?._links?.updateEvent?.allowed"
      [ngModel]="event?.groupsIds ?? []"
      (ngModelChange)="updateGroup($event)"
      [multiple]="true"
    ></bo-group-select>
  </bo-item>
</ion-list>

<h3 class="mt-5">Popis</h3>
<bo-card>
  <bo-card-content>
    <bo-item
      lines="none"
      [loading]="!event"
      [editable]="!!event?._links?.updateEvent?.allowed"
      (edit)="editDescription()"
    >
      <p *ngIf="event">{{ event.description }}</p>
    </bo-item>
  </bo-card-content>
</bo-card>
