<bo-page-header title="Vytvořit akci" backUrl="/akce"></bo-page-header>

<bo-page-content [padding]="true">
  <form [formGroup]="form" (ngSubmit)="createEvent()">
    <div class="row">
      <div class="col-lg-8">
        <ion-item class="w-100">
          <ion-label position="floating">Název</ion-label>
          <ion-input type="text" formControlName="name" placeholder="Neočekávaný dýchánek" required></ion-input>
        </ion-item>
      </div>

      <div class="w-100"></div>

      <div class="col-lg-4">
        <ion-item class="w-100">
          <ion-label position="floating">Datum od</ion-label>
          <ion-input type="date" formControlName="dateFrom" placeholder="Začátek" required></ion-input>
        </ion-item>
      </div>
      <div class="col-lg-4">
        <ion-item>
          <ion-label position="floating">Datum do</ion-label>
          <ion-input type="date" formControlName="dateTill" placeholder="Konec" required></ion-input>
        </ion-item>
      </div>

      <div class="col-lg-8">
        <ion-item>
          <ion-label position="floating">Popis</ion-label>
          <ion-textarea formControlName="description" id="createEventInput-description"></ion-textarea>
        </ion-item>
      </div>

      <div class="col-lg-8 mt-4 ms-3">
        <label class="w-100">Charakter akce</label>
        <div class="d-inline-block me-3">
          <event-subtype-selector formControlName="type"></event-subtype-selector>
        </div>
      </div>
    </div>

    <div class="mt-5 offset-lg-6 col-lg-2">
      <button type="submit" class="btn btn-primary w-100">Vytvořit</button>
    </div>
  </form>
</bo-page-content>
