:host {
	display: flex;
	flex-direction: column;
	min-height: 0;
	flex: 0 1 auto;
	overflow: hidden;
}

.title {
	flex: 0 0 auto;
	padding: 16px;
	font-size: 1.5em;
	font-weight: bold;
}

.title:empty {
	display: none;
}

.content {
	flex: 1 1 auto;
	min-height: 0;
	overflow-y: auto;
}

.footer {
	flex: 0 0 auto;
	padding: 1em;
	text-align: right;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
