<div class="group-badges">
  <span
    *ngFor="let group of groups; let isLast = last"
    (click)="toggleGroup(group.id)"
    [class.active]="isSelected(group.id)"
    [style.background-color]="'#000'"
    class="group-badge me-2 my-2"
  >
    {{ group.shortName }}
  </span>
</div>
<div *ngIf="multiple" class="selectAll custom-control custom-checkbox me-2">
  <input
    type="checkbox"
    [ngModel]="isSelectedAll()"
    (ngModelChange)="selectAll($event)"
    [disabled]="disabled"
    class="custom-control-input"
    id="checkboxSelectAll"
  />
  <label class="custom-control-label" for="checkboxSelectAll">Všechny oddíly</label>
</div>
