@switch (view()) {
	@case ("dashboard") {
		<bo-home-dashboard></bo-home-dashboard>
	}
	@case ("calendar") {
		<bo-home-calendar></bo-home-calendar>
	}
	@case ("my") {
		<bo-home-my></bo-home-my>
	}
}

@if (!isLg()) {
	<bo-page-footer>
		<bo-tabs defaultTab="dashboard" (change)="view.set($event)">
			<bo-tab name="dashboard" label="Bošán" icon="home-sharp"></bo-tab>
			<bo-tab name="calendar" label="Kalendář" icon="calendar-sharp"></bo-tab>
			<bo-tab name="my" label="Moje" icon="heart-sharp"></bo-tab>
		</bo-tabs>
	</bo-page-footer>
}
