<bo-page-header title="Uživatelské účty" backUrl="/" [actions]="actions"></bo-page-header>

<form [formGroup]="filterForm">
  <ion-toolbar>
    <ion-searchbar formControlName="search" (ionChange)="onFilterChange()" [debounce]="500"></ion-searchbar>

    <ion-buttons slot="end">
      <bo-filter (cancel)="resetFilter()" (submit)="onFilterChange()">
        <ion-item lines="none">
          <ion-label position="floating">Role</ion-label>
          <ion-select multiple formControlName="roles">
            <ion-select-option [value]="null">všechny</ion-select-option>
            <ion-select-option *ngFor="let role of userRoles | keyvalue" [value]="role.key">
              {{ role.value.title }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </bo-filter>
    </ion-buttons>
  </ion-toolbar>
</form>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users" [routerLink]="['/uzivatele', user.id]" [button]="true" [detail]="true">
      <ion-label>
        <h3>{{ user.login }}</h3>
        <p *ngIf="user.email">{{ user.email }}</p>
        <p *ngIf="user.member" class="d-lg-none">
          {{ user.member.nickname || "-" }} ({{ user.member.firstName }} {{ user.member.lastName }})
        </p>
        <p class="d-lg-none">
          <ion-badge *ngFor="let role of user.roles">{{ userRoles[role].title }}</ion-badge>
        </p>
      </ion-label>

      <ion-label class="d-none d-lg-block">
        <h3 *ngIf="user.member">{{ user.member.nickname || "-" }}</h3>
        <p *ngIf="user.member">{{ user.member.firstName }} {{ user.member.lastName }}</p>
        <p *ngIf="!user.member"><i>bez člena</i></p>
      </ion-label>

      <ion-label class="d-none d-lg-block">
        <ion-badge *ngFor="let role of user.roles">{{ userRoles[role].title }}</ion-badge>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
