<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Uživatelské účty</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Uživatelské účty"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<form #filterForm="ngForm" class="filter d-md-block px-3">
  <div class="row">
    <div class="col">
      <ion-searchbar type="text" name="search" ngModel (keydown.enter)="$event.preventDefault()"></ion-searchbar>
    </div>

    <div class="col-12 col-md col-xl-2">
      <ion-item lines="none">
        <ion-label position="floating">Role</ion-label>
        <ion-select multiple name="role" ngModel placeholder="všechny">
          <ion-select-option *ngFor="let role of userRoles | keyvalue" [value]="role.key">{{
            role.value.title
          }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
</form>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of filteredUsers">
      <ion-label>
        <h3>{{ user.login }}</h3>
        <p *ngIf="user.email">{{ user.email }}</p>
        <p *ngIf="user.member" class="d-lg-none">
          {{ user.member.nickname || "-" }} ({{ user.member.firstName }} {{ user.member.lastName }})
        </p>
        <p class="d-lg-none">
          <ion-badge *ngFor="let role of user.roles">{{ userRoles[role].title }}</ion-badge>
        </p>
      </ion-label>
      <ion-label class="d-none d-lg-block">
        <ion-badge *ngFor="let role of user.roles">{{ userRoles[role].title }}</ion-badge>
      </ion-label>
      <ion-label class="d-none d-lg-block">
        <h3 *ngIf="user.member">{{ user.member.nickname || "-" }}</h3>
        <p *ngIf="user.member">{{ user.member.firstName }} {{ user.member.lastName }}</p>
        <p *ngIf="!user.member"><i>bez člena</i></p>
      </ion-label>
      <!-- <td>{{ user.email || "-" }}</td> -->
      <!-- <td>
          <ng-container *ngIf="user.member">
            {{ user.member.nickname }} ({{ user.member.firstName }} {{ user.member.lastName }})
          </ng-container>
          <ng-container *ngIf="!user.member">-</ng-container>
        </td>
        <td>
          <span *ngFor="let role of user.roles" class="role badge badge-dark">{{ getRoleName(role) }}</span>
        </td>
        <td> -->
      <ion-buttons>
        <ion-button
          [routerLink]="['/uzivatele', user.id]"
          *ngIf="user._links.updateUser.applicable"
          [disabled]="!user._links.updateUser.allowed"
        >
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button (click)="openUserMenu(user)">
          <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
