<bo-page-header title="Uživatelské účty" backUrl="/" [actions]="actions"></bo-page-header>

<bo-filter [search]="true" (change)="onFilterChange($event)">
  <ion-item>
    <ion-label position="stacked">Role</ion-label>
    <ion-select multiple name="roles" ngModel placeholder="Vyber role">
      <ion-select-option *ngFor="let role of userRoles | keyvalue" [value]="role.key">
        {{ role.value.title }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</bo-filter>

<ion-content>
  @switch (view) {
    @case ("list") {
      <ion-list>
        <ion-item *ngFor="let user of users" [routerLink]="['/uzivatele', user.id]" [button]="true" [detail]="true">
          <ion-label>
            <h3>{{ user.login }}</h3>
            <p *ngIf="user.email">{{ user.email }}</p>
            <p *ngIf="user.member" class="d-lg-none">
              {{ user.member.nickname || "-" }} ({{ user.member.firstName }} {{ user.member.lastName }})
            </p>
            <p class="d-lg-none">
              <ion-badge *ngFor="let role of user.roles">{{ userRoles[role].title }}</ion-badge>
            </p>
          </ion-label>

          <ion-label class="d-none d-lg-block">
            <h3 *ngIf="user.member">{{ user.member.nickname || "-" }}</h3>
            <p *ngIf="user.member">{{ user.member.firstName }} {{ user.member.lastName }}</p>
            <p *ngIf="!user.member"><i>bez člena</i></p>
          </ion-label>

          <ion-label class="d-none d-lg-block">
            <ion-badge *ngFor="let role of user.roles" class="me-1">{{ userRoles[role].title }}</ion-badge>
          </ion-label>
        </ion-item>
      </ion-list>
    }
    @case ("table") {
      <admin-table>
        <thead>
          <tr>
            <th>Login</th>
            <th>Email</th>
            <th>Člen</th>
            <th>Role</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of users" [routerLink]="['/uzivatele', user.id]">
            <td>{{ user.login }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.member?.nickname || "-" }} ({{ user.member?.firstName }} {{ user.member?.lastName }})</td>
            <td>
              <ion-badge *ngFor="let role of user.roles" class="me-1">{{ userRoles[role].title }}</ion-badge>
            </td>
          </tr>
        </tbody>
      </admin-table>
    }
  }

  <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($any($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
