<ion-toolbar>
	@if (search()) {
		<ion-searchbar
			name="search"
			ngModel
			placeholder="Hledat"
			[debounce]="500"
			[(ngModel)]="searchString"
			(ngModelChange)="onSearchbarUpdate()"
			(change)="$event.stopPropagation()"
		></ion-searchbar>
	}

	<ion-button
		color="primary"
		fill="none"
		[class.d-lg-none]="showButtonMobileOnly()"
		[id]="'filter-modal-' + filterId"
		[disabled]="disabled"
		(click)="openFilter(filterContent)"
		slot="end"
	>
		<ion-icon slot="icon-only" name="filter-outline"></ion-icon>
		@if (filterCount) {
			<ion-badge color="warning">{{ filterCount }}</ion-badge>
		}
	</ion-button>

	<ng-content select="[toolbar-actions]"></ng-content>
</ion-toolbar>

<ng-template #filterContent>
	<ng-content select=":not([toolbar-actions])"></ng-content>
</ng-template>
