<ion-list lines="full">
	<ion-item-divider>{{ label() }}</ion-item-divider>

	<ion-item [lines]="sort() ? 'full' : 'none'">
		<ion-select
			label="Seřadit podle"
			interface="popover"
			justify="start"
			placeholder="Výchozí"
			[ngModel]="sort()"
			(ngModelChange)="selectColumn($event)"
		>
			<ion-select-option [value]="null">Výchozí</ion-select-option>
			@for (option of options(); track option.key) {
				<ion-select-option [value]="option.key">{{ option.label }}</ion-select-option>
			}
		</ion-select>
	</ion-item>

	@if (sort()) {
		<ion-item lines="none">
			<ion-segment [value]="order()" (ionChange)="selectOrder($any($event.detail.value))">
				<ion-segment-button value="ASC">
					<ion-label>Vzestupně</ion-label>
				</ion-segment-button>
				<ion-segment-button value="DESC">
					<ion-label>Sestupně</ion-label>
				</ion-segment-button>
			</ion-segment>
		</ion-item>
	}
</ion-list>
