<bo-page-header [title]="'Upravit: ' + member?.nickname" backUrl="/databaze" [actions]="actions"></bo-page-header>

<bo-page-content [padding]="true">
  <form #memberInfoForm="ngForm" id="memberInfoForm" (ngSubmit)="saveMember(memberInfoForm)">
    <h4>Základní informace</h4>

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <ion-item>
          <ion-label position="floating">Přezdívka</ion-label>
          <ion-input
            type="text"
            name="nickname"
            [(ngModel)]="formData.nickname"
            required
            placeholder="Nositel Prstenu"
          ></ion-input>
        </ion-item>
      </div>
      <div class="col-lg-3 col-md-6">
        <ion-item>
          <ion-label position="floating">Jméno</ion-label>
          <ion-input type="text" name="first" [(ngModel)]="formData.firstName" placeholder="Bilbo"></ion-input>
        </ion-item>
      </div>

      <div class="col-lg-3 col-md-6">
        <ion-item>
          <ion-label position="floating">Příjmení</ion-label>
          <ion-input type="text" name="last" [(ngModel)]="formData.lastName" placeholder="Pytlík"></ion-input>
        </ion-item>
      </div>

      <div class="col-lg-3 col-md-6">
        <ion-item>
          <ion-label position="stacked">Datum narození</ion-label>
          <ion-input type="date" name="birthday" [(ngModel)]="formData.birthday"></ion-input>
        </ion-item>
      </div>
    </div>

    <h4 class="mt-4">Členství ve skupině</h4>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <ion-item>
          <ion-label position="floating">Oddíl</ion-label>
          <bo-group-select [(ngModel)]="formData.groupId" name="group" required></bo-group-select>
        </ion-item>
      </div>
      <div class="col-lg-3 col-md-6">
        <ion-item>
          <ion-label position="floating">Role</ion-label>
          <ion-select name="role" [(ngModel)]="formData.role" required>
            <ion-select-option *ngFor="let item of roles | keyvalue" [value]="item.key">
              {{ item.value.title }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="col-lg-3 col-md-6">
        <ion-item>
          <ion-label position="floating">Členství</ion-label>
          <ion-select name="membership" [(ngModel)]="formData.membership" required>
            <ion-select-option *ngFor="let item of membershipStates | keyvalue" [value]="item.key">
              {{ item.value.title }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="col-lg-3 col-md-6">
        <ion-item lines="none">
          <ion-label>aktivní</ion-label>
          <ion-checkbox name="inactive" [(ngModel)]="formData.active" [value]="true"></ion-checkbox>
        </ion-item>
      </div>
    </div>

    <h4 class="mt-4">Adresa</h4>
    <div class="row">
      <div class="col-lg-8">
        <ion-item>
          <ion-label position="floating">Ulice</ion-label>
          <ion-input
            type="text"
            name="addressStreet"
            [(ngModel)]="formData.addressStreet"
            placeholder="Pytlová ulice (Dno pytle)"
          ></ion-input>
        </ion-item>
      </div>
      <div class="col-lg-4">
        <ion-item>
          <ion-label position="floating">Číslo</ion-label>
          <ion-input
            type="text"
            name="streetNo"
            [(ngModel)]="formData.addressStreetNo"
            placeholder="123/1a"
          ></ion-input>
        </ion-item>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <ion-item>
          <ion-label position="floating">PSČ</ion-label>
          <ion-input
            type="text"
            name="postalCode"
            [(ngModel)]="formData.addressPostalCode"
            pattern="\d{3} ?\d{2}"
            placeholder="123 45"
          ></ion-input>
        </ion-item>
      </div>
      <div class="col-lg-6">
        <ion-item>
          <ion-label position="floating">Město</ion-label>
          <ion-input
            type="text"
            name="city"
            [(ngModel)]="formData.addressCity"
            placeholder="Hobitín, Kraj - Západní čtvrtka"
          ></ion-input>
        </ion-item>
      </div>
      <div class="col-lg-4">
        <ion-item>
          <ion-label position="floating">Země</ion-label>
          <ion-input
            type="text"
            name="country"
            [(ngModel)]="formData.addressCountry"
            placeholder="Středozemě"
          ></ion-input>
        </ion-item>
      </div>
    </div>

    <h4 name="zdravi" class="mt-4">Zdravotní údaje</h4>
    <ion-item>
      <ion-label position="floating">Známé problémy a léky</ion-label>
      <ion-textarea
        name="knownProblems"
        [(ngModel)]="formData.knownProblems"
        placeholder="2x denně Lembas"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Alergie</ion-label>
      <ion-textarea name="allergies" [(ngModel)]="formData.allergies" placeholder="prsteny moci"></ion-textarea>
    </ion-item>
  </form>
</bo-page-content>

<bo-page-footer [padding]="true">
  <ion-button
    type="submit"
    form="memberInfoForm"
    [disabled]="memberInfoForm.invalid || !member?._links?.updateMember?.allowed"
    expand="block"
  >
    Uložit
  </ion-button>
</bo-page-footer>
