name: Deploy

on:
  workflow_dispatch:
    inputs:
      images:
        description: "List of pushed images, separated by commas"
        required: false
  workflow_call:
    inputs:
      images:
        description: "List of pushed images, separated by commas"
        required: true

jobs:
  deploy:
    name: Notify Watchtower
    runs-on: ubuntu-latest
    steps:
      - name: Tell the watchtower server there is a new image
        env:
          WATCHTOWER_URL: ${{ vars.WATCHTOWER_URL }}/v1/update?image=${{ inputs.images }}
          WATCHTOWER_TOKEN: ${{ vars.WATCHTOWER_TOKEN }}
        run: 'curl --fail --header "Authorization: Bearer $WATCHTOWER_TOKEN" $WATCHTOWER_URL'
