name: Deploy to DEV environment

on:
  workflow_dispatch:
  push:
    branches:
      - next

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  # TODO:
  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Tests not implemented yet
  #       run: echo "No tests implemented yet"

  build:
    name: Build
    uses: ./.github/workflows/build.yml
    with:
      context: .
      image-name: interni-sekce
      retention-days: 1
      build-args: |
        VERSION=NEXT-${{ github.sha }}
        NG_CONFIGURATION=production

  publish:
    name: Publish
    needs: build
    uses: ./.github/workflows/publish.yml
    with:
      source-image-name: interni-sekce
      publish-image-name: bosancz/interni-sekce
      registry: ghcr.io
      tag: next
    secrets:
      username: ${{ github.actor }}
      password: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    name: Deploy
    needs: publish
    uses: ./.github/workflows/deploy.yml
    with:
      images: ${{ needs.publish.outputs.images }}
    secrets: inherit

  tag:
    name: Tag release
    needs: deploy
    uses: ./.github/workflows/tag.yml
    with:
      tag: dev
