name: Release to TEST

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  # TODO:
  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Tests not implemented yet
  #       run: echo "No tests implemented yet"

  build:
    name: Build
    uses: ./.github/workflows/build-docker-image.yml
    with:
      context: .
      image-name: interni-sekce
      retention-days: 1
      build-args: |
        VERSION=${{ github.ref }}-${{ github.sha }}
        NG_CONFIGURATION=production

  publish:
    name: Publish
    needs: build
    uses: ./.github/workflows/publish-docker-image.yml
    with:
      source-image-name: interni-sekce
      publish-image-name: bosancz/interni-sekce
      registry: ghcr.io
      tag: test
    secrets:
      username: ${{ github.actor }}
      password: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    name: Deploy
    needs: publish
    uses: ./.github/workflows/deploy.yml
    with:
      images: ${{ needs.publish.outputs.images }}

  tag:
    name: Tag environment
    needs: deploy
    uses: ./.github/workflows/tag.yml
    with:
      tag: test
